.page-header
  h1
    a(name="arkitektur") Hur fungerar en webbsida?
  .lead
    Hur fungerar egentligen en hemsida? Det här dokumentet ger dig kort och mycket övgripande information om hur allting hänger i.

h2 HTML
.lead
  | HTML (Hypertext markup language) är  ett skript-språk vi använder för att konstruera webbsidor. EnMedelst HTML kan vi endast skapa statiska sidor. Alltså sidor vars innehåll alltid ser likadant ut.
p
  | HTML skriver vi med hjälp av taggar. Nedan kan du se ett enkelt exempel på hur HTML fungerar.
  pre
    = 'Sista ordet kommer bli <b>fetstilat</b>.'
  .panel.panel-default
    .panel-body
      | Sista ordet kommer bli 
      b fetstilat

h3 Endast för statiska sidor
p
  | För att kunna skapa dynamiska sidor använder vi oss av server-side-språk såsom PHP, Ruby, Python, ASP.NET etc.
p
  | Varför lär vi oss då HTML? Jo, för att oavsett hur mycket dynamik vi vnå "under huven" så måste vi alltid nå HTML i slutändan.

h2 Arkitektur
.lead
  | Föreställ dig att vi ska bygga en blogg ifrån grunden. Vi vill att man ska kunna posta inlägg och att vem som helst ska kunnalämna kommentarer till ett i. Detta kan vi inte lösa med endast HTML. Så, låt oss snabbt fundera över hur HTML passar in i den övergripande arkitekturen.



figure
  