.page-header
  h2
    a(name="frord") Om denna guide
p Den här guiden är till för dig. Just ja. Precis just dig. Inte någon hypotetisk student någonstans. Den är inte heller mer till för dina kompisar än för dig. Eller mer till för de som du tycker kan så himla mycket mer än vad du kan. Den här guiden är till för vemsomhelst som vill lära sig att skapa webbsidor. Så oavsett om du vill lära dig ifrån grunden, eller vill förbättra dina redan existerande kunskaper, så är den här guiden till för just dig.

h3 Feedback
p Om du har något du vill berätta, så tryck gärna på feedback-knappen till höger. Eftersom det är du som ska läsa den här guiden så är din åsikt superviktig för oss. Om du tycker att någonting är konstigt, bra, dåligt, kunde bli bättre, fel, eller rent utsagt helt uppåt väggarna så vill vi gärna ha in din åsikt.
p Om du redan är webbutvecklare, så lyssnar vi även gärna på dig! Vi är medvetna om att denna guide är högst opinionerad, och således partisk. Om du står för andra åsikter än dem som presenteras här så skulle vi fantastiskt gärna vilja höra dina åsikter. Allt för att bli bättre.

h3 Ett levande dokument
p Det är viktigt att förstå att det här är ett levande dokument. Vi skriver om, skriver nytt, och skriver om konstant. Såldes kan det hända att delar av denna guide känns inkompletta. Detta är för att de med stor sannolikhet är just det &mdash; inkompletta. Se det som en chans att vara med att påverka vad som ska stå i denna guide!

h3 Videomaterial
p Vi jobbar även på att skapa videos för stora delar av det här materialet. Det finns en del video nu, vilket du hittar inbäddat i löptexten. Om du är intresserad av att se alla videoklippen i ordning utan att leta omkring här så hänvisar vi dig vänligast till vår <a href="http://www.youtube.com/watch?v=wrdR5Su_Stg&list=PLrhzvIcii6GOVLttYLcxO-92GxuPPwbul">playlist på YouTube</a>.

h3 Författare
p Den här guiden är framtagen av <a href="http://katalog.uu.se/empInfo/?id=N12-1461">Christopher Okhravi</a> (<a href="http://twitter.com/chrokh">@chrokh</a>) (Universitetsadjunkt, Uppsala Universitet) och <a href="http://katalog.uu.se/empInfo/?id=N10-407">Madelen Hermelin</a> (Forskningsassistent, Uppsala Universitet). Detta är ett dokument som delvis används vid undervisning under <a href="http://www.im.uu.se/">Institutionen för Informatik och Media</a> vid <a href="http://www.uu.se/en">Uppsala Universitet</a>. Ändock bör detta dokument inte ses som ett uttryck för åsikter ifrån Uppsala Universitet.