.page-header
  h1
    a(name="start") Så kommer du igång!
p 
  | Skapa ett tomt textdokument och välj "spara som". Döp filen till index.html och spara. För att kolla på denna fil med webbläsaren
  | så dubbelklickar man endast på filen. Vill man editera den så kan man exempelvis använda notepad, för att göra detta väljer "öppna med"
  | Om man dubbelklickar på filen kommer endast en tom sida komma upp. detta är för att vi inte skapat något på sidan. 
h2 Grundstruktur
p 
  | Varje html-dokument består av taggar som i sin strukur är uppbyggt som ett träd. Det betyder att taggarna kommer parvis.

.panel.panel-default
  .panel-heading Exempel på HTML-taggar
  .panel-body
    pre
      code.language-markup
        | &lt;html&gt;
        |   &lt;head&gt;
        |   &lt;/head&gt;
        |   &lt;body&gt;
        |   &lt;/body&gt;
        | &lt;/html&gt;

p 
  | som ni ser så startar vi med html-tagg som omsluter head och body. I headern läggs ofta metainformation om sidan eller kan 
  | innehålla stilar eller script.
  | Inannför body så skrivs sådant som skall synas på din sida, alltså de element som byggar upp din sida.


h2 Video-introduktion
.lead Innan vi verkligen ger oss på hur man använder HTML, CSS och JavaScript så kan det vara skönt att få en snabb introduktion till hur allt hänger samman.
p Om du håller med om ovanstående påstående så kan det hända att nedanstående film är någonting för dig. På ca. 25 minuter går videon snabbt igenom de grundläggande koncepten kring HTML, CSS, JavaScript, och hur de hänger ihop.

.panel.panel-default
  .panel-heading Introduktionsvideo om html, css och javascript
  .panel-body
    iframe(width="100%", height="375", src="//www.youtube.com/embed/wrdR5Su_Stg?rel=0&vq=hd1080", frameborder="0", allowfullscreen)