
script(src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js")
script(src="/dist/assets/javascripts/prism.js")
script(src="/dist/assets/javascripts/main.js")
script(src="http://localhost:35729/livereload.js")
</body>