
.chapter-pagination
  p.text-muted Det här kapitlet är en del av en den interaktiva och pragmatiska höghastighetsguiden till webbutveckling &mdash; 
    a(href="http://htmlhunden.se") HTMLHunden
    |. Använd knapparna nedan för att läsa vidare eller navigera till innehållsförteckningen.

  .visible-xs
    .text-center
      .btn-group
        a.btn.btn-md.btn-default.pagination-prev(href="#{locals.urls.prev}",title="Föregående kapitel")
          span.glyphicon.glyphicon-arrow-left
        a.btn.btn-md.btn-default.pagination-prev(href="/dist/toc.html",title="Innehållsförteckning")
          span.glyphicon.glyphicon-list
        a.btn.btn-md.btn-default.pagination-next(href="#{locals.urls.next}",title="Nästa kapitel")
          span.glyphicon.glyphicon-arrow-right

  .hidden-xs
    .text-center
      .btn-group
        a.btn.btn-lg.btn-default.pagination-prev(href="#{locals.urls.prev}",title="Föregående kapitel")
          span.glyphicon.glyphicon-arrow-left
        a.btn.btn-lg.btn-default.pagination-prev(href="/dist/toc.html",title="Innehållsförteckning")
         span.glyphicon.glyphicon-list
        a.btn.btn-lg.btn-default.pagination-next(href="#{locals.urls.next}",title="Nästa kapitel")
          span.glyphicon.glyphicon-arrow-right
