#toc-single.toc
  a#toggle-toc.btn.btn-lg.btn-inverse
    span.glyphicon.glyphicon-align-justify
  .btn-group-vertical.toc-list
    each chapter in locals.toc
      a.btn.btn-success(href="#{chapter.contents.url}")
        | #{chapter.contents.title}
      each subchapter in chapter.subchapters
        a.btn.btn-inverse(href="#{subchapter.contents.url}")
          | #{subchapter.contents.title}
