#toc-single.toc
  .hidden-sm.hidden-xs
    img(src="/dist/assets/images/logo.png").logo-sm
  a#toggle-toc.btn.btn-lg.btn-inverse
    span.glyphicon.glyphicon-align-justify
  each chapter in locals.toc
    .btn-group-vertical.toc-list
      a.toc-h1.btn.btn-menu(href="#{chapter.contents.url}")
        b #{chapter.contents.title}
      each subchapter in chapter.subchapters
        a.toc-h2.btn.btn-menu(href="#{subchapter.contents.url}")
          | #{subchapter.contents.title}
    br
    br
