
#toc-paginated.toc
  ol
    .btn-group-vertical.toc-list
      each chapter in locals.toc
        a.toc-h1.btn.btn-menu(href="/dist/#{chapter.contents.url}")
          b
            li #{chapter.contents.title}
          each subchapter in chapter.subchapters
            a.toc-h2.btn.btn-menu(href="/dist/#{subchapter.contents.url}")
              | #{subchapter.contents.title}
