.page-header
  h2
    a(href="#open-source")
      .icon-link 
      | Open Source

p Open-source, eller öppen källkod på svenska, är idéen om att lämna ut sin källkod till allmänheten så att vemsomhelst kan använda, modifiera eller bygga vidare på den. Idag är det nästan omöjligt att surfa omkring på internet utan att använda sådant som del- eller helvis står på axlarna av open-source.

p Ett par exempel på lösningar som är drivna med öppen källkod är bloggmotorn <a href="http://sv.wikipedia.org/wiki/Wordpress">WordPress</a>, operativsystemet <a href="http://sv.wikipedia.org/wiki/Linux">Linux</a>, webbservern <a href="http://sv.wikipedia.org/wiki/Apache_HTTP_Server">Apache</a> och databashanteraren <a href="http://sv.wikipedia.org/wiki/MySQL">MySQL</a>.

p Om man ska diskutera de projekt som storskaligt verkligen haft influens på hur vi webbutvecklar är det nästan hädelse att inte nämna <a href="http://jquery.com">jQuery</a>. JavaScript-biblioteket med stort B, som hjälper oss att göra allt ifrån <a href="http://api.jquery.com/animate/">animation</a>, <a href="http://api.jquery.com/each/">iteration</a>, <a href="http://api.jquery.com/jQuery.post/">ajax</a> och att fånga <a href="http://api.jquery.com/category/events/keyboard-events/">tangentbordstryckningar</a>.
