
h1 Introduktion
p.lead Välkommen till HTMLHunden! En pragmatisk höghastighetsguide till webbutveckling. En guide som ger dig tillräckligt mycket för att ta dig ifrån den absoluta grunden till att bygga moderna/dynamiska/responsiva/snabba/pragmatiska webbsidor. Vi berättar inte bara hur du gör. Vi ger dig inte bara en massa kodexempel. Vi förklarar varför <b>och</b> ger dig kodexempel. Vår filosofi är inte att lära dig allt &mdash; utan att lära dig tillräckligt mycket för att du ska kunna lära dig själv! Det tror vi är det snabbaste sättet. Så på med rakethatten så kör vi!