.page-header
  h2
    a(name="frord") Om denna guide
p Den här guiden är till för dig. Just ja. Precis just dig. Inte någon hypotetisk student någonstans. Den är inte heller mer till för dina kompisar än för dig. Eller mer till för de som du tycker kan så himla mycket mer än vad du kan. Den här guiden är till för vemsomhelst som vill lära sig att skapa webbsidor. Så oavsett om du vill lära dig ifrån grunden, eller vill förbättra dina redan existerande kunskaper, så är den här guiden till för just dig.

h3 Förväntade förkunskaper
p Vi förväntar oss egentligen inte att du har några förkunskaper som helst förutom en viss datorvana, och att du någon gång har sett ett programmeringsspråk. Vi försöker verkligen att täcka allt men någonstans måste det ta stopp. Men vi har satt gränsen för vad som krävs av dig på en plats som vi känner oss mycket bekväma med. Det viktiga är att du själv använder ditt intellekt och dina nätsökskunskaper för att hela tiden aktivt försöka förstå vad som sägs.

h3 Ett levande dokument
p HTMLHunden är ett levande dokument. Vi skriver om, skriver nytt, och skriver om konstant. Såldes kan många delar fotfarande kännas inkompletta. Men vi lovar, vi skriver för fulla muggar och det är på väg.

h3 Feedback
p Om du har något du vill berätta, så tryck gärna på feedback-knappen (till höger). Customer is king! Du är vår kund, och din åsikt är viktigast! Om du tycker att någonting är konstigt, bra, dåligt, kunde bli bättre, fel, eller rent utsagt helt uppåt väggarna så vill vi gärna ha in din åsikt.
p Vi är medvetna om att denna guide är högst opinionerad, och således partisk. Om du står för andra åsikter än dem som presenteras här så skulle vi fantastiskt gärna vilja höra dina åsikter. Vi välkomnar olikheter. Allt för att bli bättre.

h3 Videomaterial
p Vi jobbar även på att skapa videos för stora delar av det här materialet. Det finns en del video nu, vilket du hittar inbäddat i löptexten. Om du är intresserad av att se alla videoklippen i ordning utan att leta omkring här så hänvisar vi dig vänligast till vår <a href="http://www.youtube.com/watch?v=wrdR5Su_Stg&list=PLrhzvIcii6GOVLttYLcxO-92GxuPPwbul">playlist på YouTube</a>.

h3 Författare
p Den här guiden är framtagen av <a href="http://katalog.uu.se/empInfo/?id=N12-1461">Christopher Okhravi</a> (<a href="http://twitter.com/chrokh">@chrokh</a>) (Universitetsadjunkt, Uppsala Universitet) och <a href="http://katalog.uu.se/empInfo/?id=N10-407">Madelen Hermelin</a> (Universitetsadjunkt, f.d. Forskningsassistent, Uppsala Universitet). Detta är ett dokument som delvis används vid undervisning under <a href="http://www.im.uu.se/">Institutionen för Informatik och Media</a> vid <a href="http://www.uu.se/en">Uppsala Universitet</a>, men bör ses som ett uttryck för författarnas personliga åsikter och inte universitetets.