h1 Hypertext Markup Language
p.lead Navet i det stora webbhjulet skulle vi nog kunna hävda är just HTML. Detta markup-language har hängt med länge och är just det språk vi använder för att strukturera upp information på ett sätt som en webbläsare förstår. Detta kapitel kommer lära dig hur HTML fungerar och hur vi skriver det.