
// MOVED FROM ARCHITECTURE CHAPTER
// PUT HERE?
// p Som en tankelek. Föreställ dig ett dokument skrivet i Microsoft Word, Pages, Open Office eller dylik dokumenthanterare. Tänk nu på att vi har rubriker,  underrubriker, stycken, text-snuttar som är <b>fetstilta</b> och <i>kursiva</i>. Ett HTML-dokument är egentligen exakt samma dokument som i denna tankelek fast varje gång vi vill att någonting ska representeras som någonting annat än text rakt upp och ned på samma rad så måste vi använda oss av <em>taggar</em> och <em>element</em>.
// p Således kan vi se våra HTML-dokument som motsvarigheten till en <code>.doc</code>-fil, och våra webbläsare som <em>Open Office</em>. Med andra ord, HTML-filer är rakt upp och ned textfiler med inblandad <em>markup</em>, och webbläsare är tolkare av detta markupspråk.
// p Låt oss fundera lite på hur ovan beskriven process fungerar.


.page-header
  h2
    a(href="#element", name="element")
      .icon-link 
      | Element

p HTML-dokument bygger vi upp genom att huvudsakligen använda oss av <em>element</em> och <em>attribut</em>.

h3 Element
p Element skapar vi genom att använda oss av <code>&lt;</code>, och <code>&gt;</code>-tecken.

h4 Element med start- och slut-taggar
p De flesta tags har en start och en slut-tagg. Exempel på en sådan tagg är <code>&lt;p&gt;paragraf-taggen&lt;/p&gt;</code>.
p Med paragraf-taggen definierar vi att allting emellan 
  code
    = '<p>'
  | och 
  code
    = '</p>'
  | tillhör en paragraf. Tänk dig att du skriver ett dokument i en textbehandlare. När du trycker ENTER skapas en ny paragraf på en ny rad och exakt samma effekt når du genom att stänga en befintlig paragraf och öppna en ny.
p
  | För att fortsätta ovan analogi, med ett klarare exempel. Tänk dig att du markerar ett stycke text och klickar på bold. Texten blir fetstilt. Detta uppnår vi i HTML såsom nedan:

.panel.panel-default
    .panel-heading Exempel på hur vi markerar text i fetstil
    .panel-body
      pre
        code.language-markup
          |Ett av orden ska vara i<br>
          | &lt;b&gt;fetstil&lt;/b&gt;, men inte resten.

      .panel.panel-default
          .panel-heading Resultat
          .panel-body
            | Ett av orden ska vara i <b>fetstil</b>, men inte resten

p Låt oss återgå till paragraf-taggen igen.
.panel.panel-default
  .panel-heading Exempel på separata styckesindelning i paragrafer.
  .panel-body
    pre
      code.language-markup
        | &lt;p&gt;Första paragrafen&lt;/p&gt;
        | &lt;p&gt;Andra paragrafen&lt;/p&gt;

    .panel.panel-default
      .panel-heading Resultat
      .panel-body
        p Första paragrafen
        p Andra paragrafen

p Tänk på radavståndet som uppstår eftersom vi använder två paragraf-taggar. Jämför med nedan exempel.
.panel.panel-default
  .panel-heading HTML
  .panel-body
    pre
      code.language-markup
        | &lt;p&gt; Radbrytningar<br>
        |   inom<br>
        |   en<br>
        |   p-tagg har ingen effekt.
        | &lt;/p&gt;<br>

    .panel.panel-default
        .panel-heading Resultat
        .panel-body
          p Radbrytningar
            | inom
            | en p-tagg har ingen effekt.


h4 Element utan slut-taggar
p Vissa element har bara en början och inget slut. Ett bra exempel på ett sådant element är 
  code
    = '<hr>'
  |  (horizontal ruler). Ett horisontellt streck rakt över sidan.
p
  | Ett koncept som ett streck innefattar ingen idé om innehåll. Visst ett streck har en start och en början men försök att föreställa dig start- och slut-taggar som att de innehåller, eller enkapsulerar någonting annat.  Generellt betyder det att:

blockquote
  p Ett element kan antingen innehålla ett annat element eller helt vanlig text.

.panel.panel-default
  .panel-heading Exempel på <code>&lt;hr&gt;</code>
  .panel-body
    hr

h4 Attribut
p Ett elements öppnande tag kan även innehålla attribut med värden. Exempel på ett attribut är <code>href</code>, som används för att berätta var en hyperlänksresurs befinner sig någonstans. 
p
  | För att skapa länkar använder vi elementet 
  code
    = '<a>'
  | och för att berätta att det ska länka någonstans, använder vi attributet 
  code
    = 'href'
  |, och för att berätta vart länken ska gå ger vi attributet ett värde. Så för att skapa en länk skriver vi alltså:

.panel.panel-default
    .panel-heading HTML
    .panel-body
      pre
        code.language-markup
          | &lt;a href="http://uu.se"&gt;Klicka på mig&lt;/a&gt;

      .panel.panel-default
          .panel-heading Resultat
          .panel-body
            a(href="http://www.uu.se") Klicka på mig

blockquote
  p Alla attribut är
    i  inte 
    | möjliga att använda på alla element, men många återkommer, såsom t.ex. 
    code
      ='title'
    |, 
    code
      ='href'
    | och 
    code
      ='src'