.page-header
  h2
    a(href="#indentering", name="indentering")
      .icon-link 
      | Indentering

p Några fler exempel på indentering.

.panel.panel-success
  .panel-heading Korrekt indentering
  .panel-body
    pre
      code.language-markup
        | &lt;p&gt;
        |   &lt;span&gt;Detta är ok!&lt;/span&gt;
        | &lt;/p&gt;

.panel.panel-success
  .panel-heading Korrekt indentering
  .panel-body
    pre
      code.language-markup
        | &lt;p&gt;
        |   &lt;span&gt;
        |     Också ok!
        |   &lt;/span&gt;
        | &lt;/p&gt;


.panel.panel-success
  .panel-heading Korrekt indentering
  .panel-body
    pre
      code.language-markup
        | &lt;p&gt;&lt;span&gt;Också ok men svårläsligt!&lt;/span&gt;&lt;/p&gt;

.panel.panel-danger
  .panel-heading Inkorrekt indentering
  .panel-body
    pre
      code.language-markup
        | &lt;p&gt;
        | &lt;span&gt;Strunta _inte_ i indenteringen!&lt;/span&gt;
        | &lt;/p&gt;

.panel.panel-danger
  .panel-heading Inkorrekt indentering
  .panel-body
    pre
      code.language-markup
        | &lt;p&gt;
        |   Indentera barn...
        | &lt;/p&gt;
        |   &lt;p&gt;
        |     ...men inte syskon!
        |   &lt;/p&gt;


blockquote
  | HTML är förlåtande, men bara för att någonting <em>går</em> att göra behöver det inte betyda att det är <em>bra</em>.
