.page-header
  h2
    a(href="#kommentarer", name="kommentarer")
      .icon-link 
      | Kommentarer

p All text vi skriver i ett HTML-dokument har således effekt på det renderade resultatet -- alltså webbsidan som visas i webbläsaren. Men hur skriver vi kommentarer till oss själva i HTML-dokument?
p Kommentarer kan vi skriva i HTML-dokument av olika anledningar men t.ex. skulle vi kunna använda de till att skriva förklarande kommentarer, för att logiskt gruppera olika delar av HTML-dokumentet (för utvecklaren), eller kanske för att skriva en TODO-notis om någonting som måste bättras på senare.

// comment YOYO
.panel.panel-default
  .panel-heading Exempel på en kommentar
  .panel-body
    pre
      code.language-markup
        | &lt;p&gt;En valig paragraf som syns&lt;/p&gt;
        | &lt;!-- Det här är kommentar som alltså inte kommer synas --&gt;
.panel.panel-default
  .panel-heading Resultat
  .panel-body
    p En vanlig paragraf som syns