.page-header
  h2
    a(href="#lists", name="lists")
      .icon-link 
      | Listor

p För att kunna skapa listor används ul som står för "Unordered list". För varje item används li. Som ni ser så är oordnad sådan att det är en punkt framför varje item. Låt oss se till ett exempel.
.panel.panel-default
  .panel-heading Exempel på oordnad (icke-numrerad) lista
  .panel-body
    pre
      code.language-markup
        | &lt;ul&gt;
        |   &lt;li&gt; Katt &lt;/li&gt;
        |   &lt;li&gt; Hund &lt;/li&gt;
        |   &lt;li&gt; Sköldpadda &lt;/li&gt;
        | &lt;/ul&gt;
    .panel.panel-default
      .panel-heading Resultat
      .panel-body
        ul 
          li Katt
          li Hund
          li Sköldpadda

p För att skapa ordnade (numrerade) listor så används ol. 
.panel.panel-default
  .panel-heading Exempel på ordnad (numrerad) lista
  .panel-body
    pre
      code.language-markup
        | &lt;ol&gt;
        |   &lt;li&gt; Katt &lt;/li&gt;
        |   &lt;li&gt; Hund &lt;/li&gt;
        |   &lt;li&gt; Sköldpadda &lt;/li&gt;
        | &lt;/ol&gt;
    .panel.panel-default
      .panel-heading Resultat
      .panel-body
        ol 
          li Katt
          li Hund
          li Sköldpadda

