.page-header
  h2 Semantiska element
p Kommer snart...

h3 Semantisk signifikans
p Kommer snart...

h3 Sidövergripande element
p Kommer snart... (header, section, nav, article, aside, footer)

h3 Detaljelement
p Kommer snart... (details, summary, time)
