h1 Hypertext Markup Language
p.lead Navet i det stora webbhjulet skulle vi nog kunna hävda är just HTML. Detta markup-language har hängt med länge och är just det språk vi använder för att strukturera upp information på ett sätt som en webbläsare förstår. Detta kapitel kommer lära dig hur HTML fungerar och hur vi skriver det.

p Innan vi verkligen ger oss på hur man använder HTML, CSS och JavaScript så kan det vara skönt att få en snabb introduktion till hur allt hänger samman.

.panel.panel-default
  .panel-heading Introduktionsvideo om html, css och javascript
  .panel-body
    iframe(width="100%", height="375", src="//www.youtube.com/embed/wrdR5Su_Stg?rel=0&vq=hd1080", frameborder="0", allowfullscreen)
