.page-header
  h2 Boxmodellen
p Varje element som finns på en sida är egentligen en box. Därav så brukar man ofta prata om Boxmodellen för att se vad som 
| händer runt varje element
pre
  code.language-markup
    |  -------------------------------------------------------------------------
    | |                            Margin                                       |
    | |  ---------------------------------------------------------------------  |
    | | |                          Border                                     | |
    | | |  -----------------------------------------------------------------  | |
    | | | |                        Padding                                  | | | 
    | | | |  -------------------------------------------------------------  | | |
    | | | | |                      Content                                | | | |
    | | | | |                                                             | | | |
    | | | |  -------------------------------------------------------------  | | |
    | | | |                                                                 | | |
    | | |  -----------------------------------------------------------------  | |
    | | |                                                                     | |
    | |  ---------------------------------------------------------------------  |
    | |                                                                         |
    | --------------------------------------------------------------------------|
p Förklaring av de olika delarna:
ul 
  li Margin är en transparant area runt ramen. 
  li Border är en area runt som man kan sätta att ha en viss färg eller typ av border. 
  li Padding är en area runt ett innehåll och den kommer att ha färgen som själva boxen är färgad i.
  li Content är helt enkelt innehållet av boxen som exempelvis kan vara text. 