h1 JavaScript
p.lead Den största limitationen med HTML och CSS skulle kunna beskrivas med ett att de är ett ord &mdash; statiska. De båda språken klarar av en viss nivå av interaktivitet, men i huvudsak behöver vi någonting mycket mer dynamiskt för att kunna uppnå seriös interaktivitet. Ridån faller.. och in kommer JavaScript!