h2 Komma igång
p.lead Låt oss innan vi går vidare iterera på poängen att <code>php</code> självklart inte är det enda server-side-språket. Det finns otaliga andra &mdash;
  a(href="http://en.wikipedia.org/wiki/Ruby_(programming_language)") Ruby
  |, 
  a(href="http://en.wikipedia.org/wiki/Python_(programming_language)") Python
  |, 
  a(href="http://en.wikipedia.org/wiki/ASP.NET") ASP.NET
  |, o.s.v. Här på htmlhunden så har vi valt att använda <code>php</code> som språk för att exemplifiera och diskutera. Men försök komma ihåg att server-side-språk i grund och botten har många likheter och gör ungefär samma sak. Så om du väl har lärt dig ett, så kommer du ha lättare att komma "up to speed" med ett annat.

p Anledningen till att vi har valt just <code>php</code> är att det är ett språk som är <a href="http://en.wikipedia.org/wiki/Type_system#Dynamic_type-checking_and_runtime_type_information">dynamiskt typat</a> och inte syntantiskt fullkomligt olika ifrån språk som <a href="http://en.wikipedia.org/wiki/Java_(programming_language)">Java</a> och <a href="http://en.wikipedia.org/wiki/C_Sharp_(programming_language)">C#</a>. De två sistnämda är ju förstås statiskt typade språk och alltså inte dynamiskt typade språk som <code>php</code>. Men om du kommer ifrån ett språk såsom <code>Java</code> eller <code>C#</code> så kommer du iallafall känna igen många saker såsom måsvingar, parantesanvändning, nyckelord såsom <code>static</code>, <code>final</code>, <code>public</code>, <code>private</code> och så vidare. Detta kan tyckas som trivialiteter men faktum är att språk som t.ex. <code>Ruby</code> bl.a. känns markant annorlunda p.g.a. andra sätt att hantera dessa nämnda trivialiteter. Så därför har vi valt att lära ut och diskutera <code>php</code>. Lita på oss, du kommer inte ha några problem att lära dig ett annat språk på egen hand senare! :)

h3 LAMP, MAMP &amp; WAMP
p En tidigare (och faktiskt fortfarande) populär akronym var termen <a href="http://en.wikipedia.org/wiki/WAMP#Variants_and_equivalents_on_other_platforms">LAMP</a>. Eller &mdash; LAMP-stacken som den ofta refereras till som. Denna akronym står (bl.a.) för <a href="http://en.wikipedia.org/wiki/Linux">Linux</a>, <a href="http://en.wikipedia.org/wiki/Apache_HTTP_Server">Apache</a>, <a href="http://en.wikipedia.org/wiki/MySQL">MySQL</a>, och <a href="http://en.wikipedia.org/wiki/PHP">PHP</a>. Vi säger "bl.a." eftersom det finns versioner av denna stack där <code>php</code> t.ex. byts ut emot <code>perl</code> o.s.v. Denna stack har blivit mycket populär för webbutveckling.

p <code>Apache</code> används som webbserver, <code>php</code> som server-side-språk, <code>MySQL</code> som databas, och slutligen <code>Linux</code> som operativsystem där alla nämnda körs.

p Två andra "stackar" som är adaptioner av den tidigare nämnda <code>LAMP</code>-stacken är <a href="http://en.wikipedia.org/wiki/MAMP">MAMP</a> och <a href="http://en.wikipedia.org/wiki/WAMP#Variants_and_equivalents_on_other_platforms">WAMP</a>. I förstnämnda så står M:et för Macintosh, och i sistnämnda så står W:et för Windows. Det är alltså samma mjukvarustackar som LAMP fast med operativsystemet Linux utbytt emot någon av dessa andra två.


h3 Installation

p För nuvarande ger vi inga steg-för-steg-instruktioner gällande hur du installerar MAMP, WAMP eller LAMP. Men om du sitter på antingen Macintosh eller Windows så är det en otroligt enkel match. För Macintosh finns nämligen det <a href="https://www.mamp.info/en/">MAMP som app</a>, och för Windows finns <a href="http://www.wampserver.com/en/">WAMP som program</a>. Dessa är alltså hela *AMP-stacken i ett enda program. Alltså, ett mycket smidigt sätt att komma igång.

p Om du ändå är fundersam över hur du ska gå tillväga så föreslår vi att du tar en titt på några tutorials på YouTube.
  ul
    li
      a(href="http://www.youtube.com/results?search_query=mamp") MAMP (Macintosh)
    li
      a(href="http://www.youtube.com/results?search_query=wamp") WAMP (Windows)
    li
      a(href="http://www.youtube.com/results?search_query=lamp+linux") LAMP (Linux)


