h2 Objektorienterad PHP
p Kommer snart...


h3 Klasser och instantiering
p Kommer snart...




h3 Klass- och instansmetoder
p Kommer snart...




h3 Klass- och instansvariabler
p Kommer snart...




h3 Överkurs
p Kommer snart...

h4 Interfaces och Abstrakta klasser
p Kommer snart...

h4 Automatisk inladdning av klassfiler
a(href="http://www.php.net/manual/en/function.spl-autoload-register.php") Kommer snart...