h2 AJAX och PHP
p.lead AJAX (Asynkron JavaScript och XML) är ett samlingsnamn som innefattar flera olika tekniker. Kombinationen används för att kunna uppdatera en sida utan att ladda om hela dokumentet. Detta kan vara praktiskt då vi kan behöva göra något på servern utan att störa användaren genom att behöva vänta på att sidan laddas om.

p De tekniker som i huvudsak används i samband med AJAX är...

ul
 li <code>XMLHttpRequest</code> är ett API för att kunna överföra och ta emot XML mellan server och klienten.

 li <code>DOM</code> (Document Object Model) är ett API som tillåter oss att interagera med ett dokument (HTML/XML/XHTML). Det är språk- och plattformsoberoende men vi kommer använda JavaScript-implementationen.

 li <code>HTML</code> &amp; <code>CSS</code> är ett märkesspråk och stylesheet-språk som vi använder för att först "märka upp" ett dokument och sedan definera hur det ska presenteras.

 li <code>XML</code> är ett märkesspråk där dokumentkreatören själv kan välja (i stort sett) vilka element- och attributnamn som helst. Om HTML är mer dokumentfokuserat så är XML mer datafokuserat. Det används ofta för att transportera data. 

 li <code>Javascript</code> är det programmeringspråk vi använder för att kunna interagera med DOM:en, alltså den nuvarande webbsidan.


p AJAX är som sagt en teknikfamilj. Notera att denna familj inte inkluderar något server-side-språk. Detta betyder att vi självklart kan använda AJAX-tekniker i kombination med i stort sett vilket server-side-språk som helst. <code>ASP.NET</code> eller <code>Ruby</code> till exempel. Men eftersom vi i denna guide använt oss av <code>php</code> så är det just det vi kommer att fokusera på här.

p Vi kommer även använda oss av <code>jQuery</code> istället för att skriva "ren" <code>JavaScript</code>. Detta av den enkla anledningen att det är krångligare att arbeta med AJAX direkt i <code>JavaScript</code>. Vi föreslår dock att du för eller senare absolut undersöker provar på att arbeta med AJAX i ren JavaScript. Det är alltid bra att veta vad som händer "under huven". 

p Så, låt oss då utan om och men sluta jiddra och börja trolla!



h3 jQuery get()
p Denna metod kan vi använda för att göra ett asynkront <code>GET request</code>. Alltså i <code>JavsaScript</code>. Och alltså utan att sidan vi är på laddas om.
.panel.panel-default
  .panel-heading Ändra innehåll med utan att ladda om sidan med jQuery.
  .panel-body
    pre
      code.language-php
        | $('button').click(function(){
        |   $.get('test.php',function(data, status){
        |    // the argument 'data' now contains the response
        |    $('.result').html(data);
        |   });
        | });
    .panel.panel-default

p Som ni ser har vi på en knapp som vid ett knapptryck gör ett <code>HTTP GET</code> request till servern. Innan vi tittar lite närmare på vad som faktiskt kommer att hända. Låt oss först undersöka vad sidan vi skickar ett request till (alltså <code>test.php</code>) innehåller.
.panel.panel-default
  .panel-heading Sidan som efterfrågas (i.e. <code>test.php</code>)
  .panel-body
    pre
      code.language-php
        | &lt;?php
        |   echo "Hello from AJAX!";
        | ?&gt;

p jQuery-metoden get tar emot två argument. Först en (1) URL som motsvarar den sida vi vill request:a. Vidare en (2) callback-funktion. Alltså en funktion som kommer att anropas när request:et är avslutat och vi får ett response tillbaka.



h3 jQuery get() med parametrar
p Tänk på hur ett <code>HTTP GET request</code> fungerar. Kanske kommer du ihåg att vi alltid kan skicka parametrar. Alltså såsom nedan:

pre
  code http://example.com?name=Tarzan&breed=manape

p Självklart tillåter även jQuery-metoden GET att vi skickar parametrar. För att vi ska slippa konstruera denna url med url-enkodade parametrar själva, så är jQuery-metoden get konstruerad så att vi istället kan skicka ett javascript-objekt med nycklar och värden som motsvarar den data vi vill skicka.
p Parametrarna skickar vi som andra argument. Och eftersom vårt callback ska vara det sista argument så blir det nu det tredje argumentet. Såsom i exemplet nedan.

 
.panel.panel-default
  .panel-heading Att göra ett anrop via jQuery get() med parametrar
  .panel-body
    pre
      code.language-php
        | $('button').click(function(){
        |   $.get('test.php',
        |     {
        |       name:  'Tarzan',
        |       breed: 'manape'
        |     },
        |     function(data, status){
        |       alert(data);
        |     }
        |   );
        | });

p Anta då att vår php-sida (<code>test.php</code>) istället ser ut så här:
.panel.panel-default
  .panel-heading Sidan som efterfrågas 
  .panel-body
    pre
      code.language-php
        | &lt;?php
        |   $name  = $_GET["name"]
        |   $breed = $_GET["breed"]
        |   echo "$name is a $breed";
        | ?&gt;

p Om vi har ovan server-side-sida, och kör klientkoden &mdash; så kommer callbacket som avfyras att öppna en <code>alert</code>-ruta. I den rutan kommer det att stå:

pre Tarzan is a manape  



h3 jQuery´s load()
p jQurey´s load method är ganska lika get men den har en implicit callbackfunktion som gör det möjligt att kunna skriva:
| <code>$("#result").load("test.php"); </code> och det som händer är att den själv fyller på elementet med innehållet. Man kan även skicka med 
| en ytterligare callbackfunktion och då kommer det köras EFTER det matchande elementet har fyllts på med innehållet från test.php.
.panel.panel-default
  .panel-heading Load() med callback.
  .panel-body
    pre
      code.language-php
        |$( "#result" ).load( "test.php", function() {
        | alert( "Success!" );
        |});
    .panel.panel-default
      .panel-heading Resultat
      .panel-body

p Att jobba med asynkrona anrop är kraftfullt och bör vara en viktig kunskap i verktygslådan som webbutvecklare. 
