h2 PHP Syntax
p.lead <code>PHP</code> är ett av de där språken som de flesta kan känna igen sig lite i. Nästan oavsett vilket/vilka språk du kommer ifrån innan. Eftersom vi förväntar oss att du redan har en viss grundläggande kunskap om objektorienterad programmering så kommer vi alltså i huvudsak fokusera på syntax och <a href="http://en.wikipedia.org/wiki/Language_construct">språkkonstruktorer</a>. Vi kommer således inte gå in på djupet och diskutera varför. Poängen med detta kapitel är att ge dig tillräckligt mycket kunskap för att kunna läsa identifiera olika delar av ett program skrivet i <code>PHP</code>.

h3 Echo
p För att skriva ut information till användaren genom att använda någon av de två <a href="#">language constructs</a>:en <code>echo</code> eller <code>print</code>. <a href="http://stackoverflow.com/questions/1647322/whats-the-difference-between-echo-print-and-print-r-in-php">Skillnaderna mellan dessa är subtila</a>, och vet du inte varför du väljer den ena över den andra var åtminstone konsistent i ditt användande.
.panel.panel-default
  .panel-heading Skriva till skärmen i php
  .panel-body
    pre
      code.language-php
        | &lt;?php
        |   echo "Hello worldizzle";
        | ?&gt;
    .panel.panel-default
      .panel-heading Resultat
      .panel-body
        p Hello woldizzle
p Självklart kan vi ju inte bara ge <code>echo</code> strängar. Vi kan ge den vilket uttryck som helst som evaluerar till en sträng, eller implicit kan omvandlas till en sträng. Det senare är sant för nedan uyttryck:
pre
  code.language-php
    | &lt;?php
    |   echo 100 + 20 + 33;
    |   // Skriver ut 153
    | ?&gt;

p <code>echo</code> tar alltså antingen ett literal-värde, ett uttryck eller en variabel.


h3 Variabler
p Låt oss nu istället prata om variabler. En variabel deklareras i <code>php</code> genom att placera ett dollartecken (<code>$</code>) före ett ord. Ordet blir då vår identifierare för variabeln.

pre
  code.language-php
    | $my_variable_name;

p Ett par regler gäller när vi namnger våra variabler.
ul
  li Namnet måste börja med en bokstav eller underscore (<code>_</code>).
  li Namnet kan <em>inte</em> börja med en siffra.
  li Namnet får endast innehålla alpha-numeriska tecken och underscrores. Alltså (<code>A-z</code>, <code>0-9</code>, och <code>_</code> ).
  li Variabelnamn är skiftlägeskänsliga. <code>$hej</code> och <code>$Hej</code> är alltså två olika variabler.

p Men nu har vi ju bara deklarerat en variabel. Vi har inte diskuterat hur man tilldelar till den. Som i de flesta språk tilldelar vi med hjälp av likhetstecknet (<code>=</code>). Och som i de flesta språk kan vi tilldela en varibel ett literal-värde, en annan variabel, eller evalueringen av ett uttryck. Alla nedan är alltså rimliga tilldelningar.

.panel.panel-default
  .panel-heading Deklarering och tilldelning av variabler i <code>php</code>
  .panel-body
    pre
      code.language-php
        | &lt;?php
        |   // Assigning literals
        |   $age    = 22;
        |   $name   = "Snow"
        |   
        |   // Assigning variables
        |   $anos   = $age;
        |   $nombre = $name;
        |   
        |   // Assigning an evaluated expression
        |   $born   = $current_year - $age;
        | ?&gt;

       
h3 Selektion
p I <code>php</code> kan vi, precis som i de flesta andra språk, förändra ett programs exekveringsbana genom att konditionella selektioner. Låt oss börja med att kika på ett exempel på hur vi skriver en enkel <code>if-else</code>-selektion i <code>php</code>.

.panel.panel-default
  .panel-heading If-else i <code>php</code>
  .panel-body
    pre
      code.language-javascript
        | if (3 > 5){
        |   echo "The world has gone mad!";
        | }else{
        |   echo "Puh.. sanity remains..";
        | }

p Självklart kan vi ju som vanligt "kedja" hur många <code>else if</code>'s vi vill. Såsom nedan:

.panel.panel-default
  .panel-heading If-else i <code>php</code>
  .panel-body
    pre
      code.language-javascript
        | if (timeOfDay() == "morning"){
        |   echo "Good morning.";
        | }else if(timeOfDay() == "day"){
        |   echo "Good day.";
        | }else if(timeOfDay == "evening"){
        |   echo "Good evening."
        | }else{
        |   echo "Good night... sleep well."
        | }
        | 
        | // The above assumes we have a function called timeOfDay()
        | // that returns the time of day as a nice string :)


p Men eftersom <code>php</code> även stödjer <code>switch case</code>-satser så kan vi likväl använda en sådan om vi skulle vilja lösa ovan problem.

.panel.panel-default
  .panel-heading Switch case i <code>php</code>
  .panel-body
    pre
      code.language-javascript
        | switch( timeOfDay() ){
        |   "morning":
        |     echo "Good morning.";
        |     break;
        |   "day":
        |     echo "Good day.";
        |     break;
        |   "evening":
        |     echo "Good evening."
        |     break;
        |   default:
        |     echo "Good night... sleep well."
        | }

// TODO: Användandet av ordet ting nedan. Använd istället den korrekta delimitationen.
p När vi använder <code>if-else</code> konstruktionen så behöver vi ju förstås göra jämförelser. En <code>if</code>-sats förväntar sig ett boolskt värde. Och eftersom alla värden kan ersättas med uttryck så kan vi ju (precis som i nästan alla programmeringsspråk) ge ett uttryck istället för ett värde. Detta uttryck skulle kunna vara en jämförelse emellan två ting. Och om vi ska göra jämförelser så behöver vi förstås som vanligt jämförelseoperatorer. Även i <code>php</code> hittar vi då de vanligaste jämförelseoperatorer.

table.table.table-condensed.table-striped
  tr
    th Operator
    th Namn
    th Förklaring
  tr
    td <code>==</code>
    td Equality
    td Sant om $A och $B är exakt ekvivalenta.
  tr
    td <code>===</code>
    td Identical
    td Sant om $A och $B är exakt ekvivalenta, och de är av samma datatyp. 
  tr
    td <code>!=</code> eller <code>&lt;&gt;</code>
    td Not equal
    td Sant om $A och $B inte är lika.
  tr
    td <code>!==</code>
    td Not identical
    td Sant om $A och $B inte är lika, eller om de inte är av samma datatyp.
  tr
    td <code>&lt;</code>
    td Less than
    td Sant om $A är lägre än $B.
  tr
    td <code>&gt;</code>
    td Greater than
    td Sant om $A är högre än $B.
  tr
    td <code>&lt;=</code>
    td Less than or equal
    td Sant om $A är lägre än eller lika låg som $B.
  tr
    td <code>&gt;=</code>
    td Greater than or equal
    td Sant om $A är högre eller lika hög som än $B.





h3 Iteration
p Ok, låt oss nu prata om iteration. Vi börjar med att kika på den gamla gode <code>while</code>-loopen. Ett smidigt alternativ om vi vill definera ett villkor, och sedan helt enkelt bara blint loopa tills villkoret uppfylls.
.panel.panel-default
  .panel-heading <code>while</code>-loop i <code>php</code>
  .panel-body
    pre
      code.language-javascript
        | $x = 0;
        | $y = 10;
        | 
        | while($x < $y){
        |   echo $x . ", ";
        |   $x++;
        | }
    .panel.panel-default
      .panel-heading Result
      .panel-body
        p 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 

p Men om det hade varit det ovanstående problemet vi ville lösa så hade vi förstås lika väl kunnat använda en gammal hederlig <code>for</code>-loop.

.panel.panel-default
  .panel-heading <code>for</code>-loop i <code>php</code>
  .panel-body
    pre
      code.language-javascript
        | for($i=0; $i<10; $i++){
        |   echo $i . ", ";
        | }
    .panel.panel-default
      .panel-heading Result
      .panel-body
        p 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 

p Och när vi ändå talar om <code>for</code>-loopen, så har ju även <code>php</code> en implementation av den välanvända <code>foreach</code>-loopen. Anta att vi har en kollektion av något slag, och att vi sedan vill iterera över hela kollektionen. Låt oss kika på ett exempel där kollektionen består av en array.

.panel.panel-default
  .panel-heading <code>foreach</code>-loop i <code>php</code>
  .panel-body
    pre
      code.language-javascript
        | $apples = ["red", "green", "blue"];
        | 
        | foreach($apples as $a){
        |   echo $a . "&lt;br&gt;";
        | }
    .panel.panel-default
      .panel-heading Result
      .panel-body
        p red
          br
          |green
          br
          |blue

p Om du har använt en <code>foreach</code>-loop i något annat språk så märker du säkert att implementationen i <code>php</code> känns lite "baklänges". I de flesta språk är loopen konstruerad så att syntaxen säger: <code>foreach(item in collection)</code>. Men i <code>php</code> så säger syntaxen: <code>foreach(collection as item)</code>. Men håll tungan rätt i mun, och tänk baklänges så ska nog allt gå sin väg! :)



h3 Funktioner
p Funktioner i <code>php</code> beter sig väldigt mycket som funktioner i de flesta andra stora språk. Du kan skriva funktioner som inte returnerar någonting eller funktioner som returnerar någonting. Om du kommer ifrån ett språk som <code>C#</code> eller <code>Java</code> så gäller det ju dock förstås att komma ihåg att <code>php</code> är ett dynamiskt språk. I <code>php</code> behöver vi alltså inte deklarera huruvida en funktion returnerar någonting eller ej. Inte heller behöver vi berätta vad den returnerar om den gör det. Låt oss se till några exempel.

.panel.panel-default
  .panel-heading Funktioner i <code>php</code>
  .panel-body
    pre
      code.language-javascript
        | function add($x, $y){
        |   return $x + y;
        | }
        |  
        | function show_points($person, $points){
        |   echo $person . " has " . $points . " points&lt;br&gt;";
        | }
        |  
        | $john = add(2, 5);
        | $jane = add(10, 3);
        | 
        | show_points("John", $john);
        | show_points("Jane", $jane);
    .panel.panel-default
      .panel-heading Result
      .panel-body
        p John has 2 points
          br
          |Jane has 10 points

p Om du studerar ovan exempel lite närmare så märker du att vad vi nämnde innan om dynamiska språk onekligen är sant. Den första metoden tar berättar inte att den ska returnera någonting, på något annat sätt än att den helt enkelt returnerar det den vill returnera. Inte heller berättar den att den vill returnera en siffra.
p En viktig sak att förstå, är att inte heller argumenten är statiskt typade. Funktionen (vi pratar nu om <code>add($x,$y)</code> i ovan exempel) antar helt sonika att den kommer att få två siffror. Eller om vi ska vara riktigt strikta i våra uttalanden så antar metoden att den kommer att anropas med två ting som argument, där båda dessa ting går att addera genom <code>+</code>-operatorn. Det antagande om att någonting har ett visst beteende (plusoperatorn i detta fall) är det som brukar benämnas <a href="http://en.wikipedia.org/wiki/Duck_typing">Duck typing</a>. Men vi kommer prata om det mer när vi återkommer till att tala om styrkor och risker med dynamiskt typade språk.

h4 Valfria funktionsargument
p En intressant idé som finns implementerad i många språk är idéen om default-värden för funktionsargument. Valbara funktionsargument. Detta betyder alltså att vi kan anropa en metod utan att ange alla argument. Och att vi i funktionsdeklarationen definerar vad standardvärdet för ett visst argument är. Det värdet används då istället om den som anropar funktionen skulle ignorera att ange ett värde för det argumentet. Låt oss se till ett par exempel för att göra det lite tydligare.

.panel.panel-default
  .panel-heading Valfria funktionsargument i <code>php</code>
  .panel-body
    p Om vi deklarerar en funktion med valfria argument...
    pre
      code.language-php
        | function get_ticket($name, $pickup=false, $discount=0){
        |   $price = 100 - $discount;
        |     
        |   if($pickup){
        |     $price += 25;
        |     $pickup_message = "Pickup included.";
        |   }else{
        |     $pickup_message = "No pickup.";
        |   }
        |     
        |   return $name . ": " . $price. " kr. " . $pickup_message;
        | }
    p ...Så kan vi sedan anropa den utan att ange värden för de valfria argumenten. Och de fördefinerade värdena för de avsaknade argumenten kommer istället att användas.
    pre
      code.language-php
        | get_ticket("John", true);
        | //=> "John: 125kr. Pickup included."
        |  
        | get_ticket("Jane", false, 100);
        | //=> "Jane: 0kr. No pickup."
        |  
        | get_ticket("Carl");
        | //=> "Carl: 125kr. No pickup."

p Något att tänka på är att vi i ovan exempel inte kan ange ett värde för det sista argumentet utan att ange ett värde för det andra. Med andra ord: om vi vill ange ett värde för ett valfri argument, så måste vi ange värden för alla argument före. Med andra ord gäller det att välja sin argumentordning noga.


>>>>>>> fe61f74b8028a06b2c97b7ecc5d54da92c77092b
