h2 Kodorganisation
p.lead TODO



h3 Inkludera filer
p TODO

h4 Inkludera filer med <code>include</code>
p TODO

h4 Inkludera filer med <code>require</code>
p TODO

h4 Inkludera filer med <code>require_once</code>
p TODO



h3 Strategier för att bädda in <code>html</code>
p TODO