h2 Objektorienterad PHP
p.lead Dags för objektorienterad <code>php</code>! Äntligen! Språket <a href="http://michaelkimsal.com/blog/php-is-not-object-oriented/">anses inte av alla vara objektorienterat</a>. Ifrån början gick det inte ens att skriva objektorienterad kod överhuvudtaget. Men, sedan en tid tillbaka har <code>php</code> börjat stödja klassisk <code>oop</code> i den bemärkelsen att vi själva kan skriva objektorienterade program (med klasser, arv, instansmetoder etc.). Men det finns som sagt en <a href="http://stackoverflow.com/questions/4699519/is-php-object-oriented">debatt kring huruvida språket verkligen kan anses objektorienterat ändå</a>. En anledning till denna skepticism grundar sig i faktumet att, eftersom <code>php</code> inte alltid varit objektorienterat, så finns det många gamla kvarlevor i form av "fria" metoder. Allt är inte objekt i <code>php</code>.

p Låt oss exemplifiera vad vi menar med att det finns en massa icke-objektorienterade kvarlevor kvar i språket. För att hämta en substräng av en sträng i <code>php</code> skulle vi kunna skriva följande:

  pre
    code.language-php
      | substr($mystring, $n);

p Om språket hade varit mer uppenbart objektorienterat hade vi rimligen skrivit följande:

  pre
    code.language-php
      | $mystring->substring($n);

p Men, allt detta hindrar oss inte ifrån erövra världen med allsmäktig och objektorienterad <code>php</code>. Bara för att många befintliga metoder inte är objektorienterade, så betyder det inte att den kod vi själva skriver inte kan vara objektorienterad.

p Som nämnt i syntax-kapitlet så räknar vi med att du har en viss erfarenhet av objektorienterad programmering sedan tidigare. Så vi kommer i detta kapitel i huvdsak fokusera på att redogöra för syntax.



h3 Klasser och instantiering
p Kommer snart...



h3 Klass- och instansmetoder
p Kommer snart...




h3 Klass- och instansvariabler
p Kommer snart...




h3 Överkurs
p Kommer snart...

h4 Interfaces och Abstrakta klasser
p Kommer snart...

h4 Automatisk inladdning av klassfiler
a(href="http://www.php.net/manual/en/function.spl-autoload-register.php") Kommer snart...