h2 MySQL syntax
p.lead Även om vi förväntar oss att du har en viss erfarenhet av <code>sql</code> sedan tidigare, så tänkte vi att vi tar en snabb återblick här.

h3 Tabeller
p Kommer snart...

h3 Data
p Kommer snart...
