.page-header
  h1
    a(href="#efterord", name="efterord")
      .icon-link 
      | Efterord

p.lead HTML-hunden är skriven av 
  span.authors <a href="http://christopherokhravi.se" target="_blank"><em class="author">Christopher Okhravi</em></a> och <em>Madelen Hermelin</em>. Guiden är skriven för att användas under kurser vid <a href="http://www.im.uu.se/" target="_blank">Institutionen för informatik och media</a> under <a href="http://www.uu.se" target="_blank">Uppsala universitet</a> men du är förstås välkommen att använda den vemän du är :) 

p.lead Projektet har <a href="http://sv.wikipedia.org/wiki/%C3%96ppen_k%C3%A4llkod" target="_blank">öppen källkod</a>, och om du således är intresserad av att bidra på något sätt så välkomnar vi alla tankar, idéer och korrigeringar. Projektet tillsammans med dokumentation finns på <a href="https://github.com/chrokh/htmlhunden" target="_blank">GitHub</a>.