.page-header
  h1
    a(name="bilder", id="bilder") Bilder
  
p.lead
  | Nu var det en massa snack om text, encoding, listor, och indentering hit och dit. Dags att bli lite mer visuella! Vad vi undrar är alltså &mdash; hur kan vi få in bilder i våra sidor?

p Svaret är egentligen väldigt enkelt. Genom att använda <code>&lt;img&gt;</code>-taggen tillsammans med attributet <code>src</code>. Låt oss se till ett exempel.

.row
  .col-md-6
    .panel.panel-default
      .panel-heading Exempel på hur vi kan lägga in en bild
      .panel-body
        pre
          code.language-markup
            | &lt;img src="http://placekitten.com/g/60/60"&gt;

  .col-md-6
    .panel.panel-default
      .panel-heading Resultat
      .panel-body
        img(src="http://placekitten.com/g/60/60",alt="En mästerkatt utan stövlar")

blockquote.text-info
  | Prova gärna att klistra in adressen som bilden ovan pekar mot i webbläsaren och kolla vad som finns under adressen. 

p Notera alltså att att adressen ovan (som antytt) pekar mot en URL som renderar en bild. (Tjänsten <a href="http://placekitten.com" target="_blank">placekitten</a> erbjuder helt enkelt bilder i olika storlekar under alla sina URL:er.) Således kan vi alltså ersätta den adressen med en bild som finns lokalt på vår dator, på vår egen server eller någon annanstans på internet. Attributet <code>src</code> förväntar sig helt enkelt en adress till en bild.

h2 Alternativ
p.lead Men vad händer om en bild inte kan renderas? Och vad händer när en <a href="http://en.wikipedia.org/wiki/Screen_reader" target="_blank">screen reader</a> upptäcker en bild. In kommer <code>alt</code>-attributet och räddar dagen! Låt oss se till ett exempel innan vi går vidare.

.panel.panel-default
  .panel-heading Exempel på användning av alt-attributet
  .panel-body
    pre
      code.language-markup
        | &lt;img src="http://placekitten.com/g/60/60" alt="En mästerkatt utan stövlar"&gt;

p Om vi nu försöker nå ovan bild genom någon form av läsare som inte kan rendera bilder så kommer vi istället få texten <em>En mästerkatt utan stövlar</em>. I annat fall kommer bilden att visas som vanligt och texten inte synas. Tänk på att attributet <code>alt</code> krävs för att en <code>&lt;img&gt;</code>-tagg ska vara <a href="http://www.w3schools.com/tags/tag_img.asp" target="_blank">valid</a>.

blockquote.text-danger
  | Attributen <code>alt</code> och <code>src</code> krävs båda för att en <code>&lt;img&gt;</code>-tagg ska vara valid.


h2 Bildtexter
p.lead Om vi vill lägga till en bildtext till vår bild kommer de nya html5-elementen <code>&lt;figure&gt;</code> och <code>&lt;figcaption&gt;</code> väl till pass.

p Dessa är <em>semantiska</em> attribut snarare än <em>visuella</em>. Med andra ord. Visst har <code>&lt;p&gt;</code>-taggen en semantisk innebörd &mdash; en paragraf representerar ju semantiskt ett stycke text, och således rimligen en tanke. Men i HTML så resulterar ju även en paragraf i någonting visuellt skillt ifrån plain-text och därmed 

p Elementen <code>figure</code> och <code>figcaption</code> är båda <em>semantiska</em> element snarare än direkt <em>visuella</em>. Med andra ord, om vi skulle välja att bara skriva ut vår bild följd av ett helt vanligt paragraf-element som innehåller vår bildtext, så skulle det visuella resultatet bli ungefär likadant som om vi använde figure och figcaption. Poängen med att dock istället använda figure och figcaption är att vi <a href="http://en.wikipedia.org/wiki/Semantic_HTML" target="_blank">berikar dokumentet med semantik</a>. Plus att vi har ett enhetligt sätt att angripa bildtexter ifrån våra stilmallar (css).

blockquote.text-success <code>&lt;figure&gt;</code> och <code>&lt;figcaption&gt;</code> är båda element med semantisk mening.

.row
  .col-md-6

    .panel.panel-default
      .panel-heading Exempel på figurannotation med figcaption
      .panel-body
        pre
          code.language-markup
            | &lt;figure&gt;
            |   &lt;img src="http://placekitten.com/g/130/130"&gt;
            |   &lt;figcaption&gt;
            |     En mästerkatt utan stövlar.
            |   &lt;/figcaption&gt;
            | &lt;/figure&gt;

  .col-md-6
    .panel.panel-default
      .panel-heading Resultat
      .panel-body
        figure
          img(src="http://placekitten.com/g/130/130", alt="En mästerkatt utan stövlar")
          figcaption En mästerkatt i stövlar.

