.page-header
  h1
    a(href="#encodings", name="encodings")
      .icon-link 
      | Character encoding

p.lead Kanske har du redan märkt att när man skapar html-dokument som innehåller tecken såsom <code>å</code>, <code>ä</code>, <code>ö</code> kan det hända att de ersätts med en uppsjö a mystiska tecken. Lösningen på detta är <code>character sets</code>.

p För att göra en lång historia kort så var det alltså så att man i datorernas tidiga dagar representerade tecken som <a href="http://sv.wikipedia.org/wiki/ASCII" target="_blank">ASCII</a>-koder. T.ex. så representerades <code>A</code> genom <code>65</code> och <code>a</code> genom <code>97</code>.

p ASCII-tabellen använde sig av 7 bitar, vilket resulterade i 128 olika tecken (eftersom <code>2^7=128</code>), varvid vissa var "unprintable" kontroll-tecken. Som du säkert kan tänka dig upptäckte man snabbt att detta var fullt otillräckligt för att lagra all världens olika tecken. Vi har ju förstås inte bara åäö att arbeta med, utan även kinesiska, grekiska, arabiska o.s.v.

blockquote There is no such thing as plain text
  footer &mdash; 
    a(href="http://www.joelonsoftware.com/articles/Unicode.html")
      | The Absolute Minimum Every Software Developer Absolutely, Positively Must Know About Unicode and Character Sets (No Excuses!)

p Ovan citat understryker faktumet att datorer egentligen är väldigt korkade och bara gör det vi säger åt dem. Utan att berätta för en dokumentläsare på vilket sätt vi sparat ett visst tecken så har den ingen chans att veta vad det är för tecken, hur det ska visas, eller ens vart tecknet slutar.

p In kommer <a href="http://sv.wikipedia.org/wiki/UTF-8" target="_blank">utf-8</a> och räddar dagen! Detta är kort sagt är ett sätt att representera <a href="http://sv.wikipedia.org/wiki/Unicode_transformationsformat" target="_blank">Unicode</a>-tecken. Och kort sagt möjliggör användning av världens alla tecken. Och som kort sagt blivit den vanligaste teckenkodningen för webbsidor.

p Ett dokuments teckenkodning sätter vi genom att skapa en <code>&lt;meta&gt;</code>-tag med attributet <code>charset</code> satt till valfritt charset (såsom just utf-8). Eftersom detta tillhör meta-information om dokumentet skall vi placera taggen under <code>&lt;head&gt;</code>. Vidare bör vi även specificera vårt <code>charset</code> så <a href="http://stackoverflow.com/questions/5572471/in-head-which-comes-first-meta-or-title" target="_blank">tidigt som möjligt</a> i <code>&lt;head&gt;</code> eftersom webbläsaren behöver veta vilken teckenkodning vi använt för att ordentligt kunna läsa det dokument den redan läser.

.panel.panel-default
  .panel-heading Ett dokument som definierar character set:et utf-8
  .panel-body
    pre
      code.language-markup
        | &lt;!DOCTYPE html&gt;
        | &lt;html&gt;
        |   &lt;head&gt;
        |     &lt;meta charset="utf-8"&gt;
        |     &lt;title&gt;The utf-8, I speak!&lt;/title&gt;
        |   &lt;/head&gt;
        | &lt;/html&gt;