.page-header
	h2
		a(href="#formular", name="formular")
			.icon-link 
			| Formulär

p.lead
	| För att användare av webbsidor ska kunna skicka data mellan olika sidor använder vi oss (bl.a.) av formulär.
	| För att vi som utvecklare ska kunna spara användardata i t.ex. en databas så behöver vi få in data ifrån "klient-sidan" (client-side) till "server-sidan" (server-side). Formulär ger oss ett mycket smidigt sätt att göra detta.

h3 Form-taggen 
p Låt oss börja med att skapa ett skal till ett formulär. 

.panel.panel-default
	.panel-heading Ett tomt formulär
	.panel-body
		pre
			code.language-markup
				| &lt;form method="post" action="process-data.php"&gt;
				|    ...
				| &lt;/form&gt;
p 
	|Ovan kod resulterar rent visuellt inte i någonting. Under ytan så kommer ju ovan markup absolut att <em>finnas</em> i dokumentet, men rent visuellt ser användaren ingenting.

h3 Labels
p.lead För att användaren ska veta vad hen ska fylla i vart, så använder vi oss av <code>&lt;label&gt;</code>'s.

p Till synes så ser denna tagg inte mycket ut för världen eftersom den endast renderar ut som helt vanlig text. Men eftersom vi associerar labels med input-fält så gör (t.ex.) vissa browsers label-texten klickbar. För radiobuttons så innebär t.ex. ett klick på label:en då samma sak som ett klick på själva knappen.

p Vi använder egenskapen <code>for</code> för att specificiera vilken formulärkontroll en viss label tillhör.


.panel.panel-default
	.panel-heading Exempel på label
	.panel-body
		pre
			code.language-markup
				| &lt;label for="ett-input-id"&gt;Din e-post&lt;/label&gt;

.panel.panel-default
	.panel-heading Resultat
	.panel-body
		label Din e-post

h3 Input, textarea &amp; select
// p Så, låt oss lägga till någonting som faktiskt kan vara till användning. Frågan är alltså: hur kan vi ge användaren en möjlighet att skriva in data? Först och främst måste vi helt enkelt välja vad vi menar med data? Det är ju alltså formulär vi behandlar. Vill vi att användaren ska kunna skriva in "fri-text", eller välja mellan tre val, eller välja en/fler/ingen mellan tre val o.s.v. Det finns alltså ett antal olika input-metoder vi kan erbjuda en användare och några presenteras således nedan.
p.lead För att skapa själva innehållet i formuläret använder vi oss i huvudsak av taggarna <code>&lt;input&gt;</code>, <code>&lt;textarea&gt;</code> och <code>&lt;select&gt;</code>.
p <code>&lt;input&gt;</code>-taggen kan vi använda till att skapa många olika typer av formulärsfält. Närmare bestämt: fritext, radioknappar, checkboxar och gömda fält. Vilken av dessa fält vi vill skapa bestämmer vi genom att sätta attributet <code>type</code>.



h4 Fritext (en rad)
p Följande är ett exempel på hur vi kan göra om vi vill ha ett en-rads-text-fält.
.row
	.col-md-6
		.panel.panel-default
			.panel-heading Input type text
			.panel-body
				pre
					code.language-markup
						| &lt;input type="text" placeholder="Your email"&gt;
	.col-md-6
		.panel.panel-default
			.panel-heading Resultat
			.panel-body
				form 
					input(type="text", placeholder="Your email").form-control


h4 Radio buttons
p Radio-knappar ger användaren möjligheten att välja ett och endast ett av flera alternativ. Låt oss se till ett exempel, och notera även hur egenskapen <code>for</code> används till att peka <code>&lt;label&gt;</code>'s.
.panel.panel-default
	.panel-heading Radio buttons med labels
	.panel-body
		pre
			code.language-markup
				|&lt;label for="alt-yes"&gt;Ja&lt;/label&gt;
				|&lt;input type="radio" id="alt-yes" name="yes-or-no" value="yes"&gt;
				|&lt;label for="alt-no"&gt;Nej&lt;/label&gt;
				|&lt;input type="radio" id="alt-no" name="yes-or-no" value="no"&gt;

.panel.panel-default
	.panel-heading Resultat
	.panel-body
		form
			.radio
				label(for="alt-yes") Ja
				input(type="radio", name="yes-or-no", id="alt-yes")
			.radio
				label(for="alt-no") Nej
				input(type="radio", name="yes-or-no", id="alt-no")


p 
	| Det som vi har här är alltså en formtagg och i denna så ligger två inputfält varav typen är text och name är namnet som vi kommer
	| använda om vi skulle vilja hämta upp dessa värden med exempelvis PHP. Size anger vilken storlek denna skall ha och maxlength hur
	| många bokstäver vi kan skriva in i textboxen.




h4 Checkboxes
p Checkboxes använder vi till skillnad ifrån radio buttons när vi vill ge användaren möjligheten att välja ett, eller flera alternativ av många. Mycket användbart när det kommer till frukt!

.panel.panel-default
	.panel-heading Exempel på checkboxes med labels
	.panel-body
		pre
			code.language-markup
				| &lt;input type="checkbox" name="fruit" value="apple" id="alt-apple"&gt;
				| &lt;label for="alt-apple"&gt;Apple&lt;/label&gt;
				| &lt;input type="checkbox" name="fruit" value="banana" id="alt-banana"&gt;
				| &lt;label for="alt-banana"&gt;Banan&lt;/label&gt;

.panel.panel-default
	.panel-heading Resultat
	.panel-body
		.checkbox
			input(id="alt-apple", type="checkbox", name="fruit", value="apple") 
			label(for="alt-apple") Äpple
		.checkbox
			input(id="alt-banana", type="checkbox", name="fruit", value="banana") 
			label(for="alt-banana") Banan

h5 Förklaring av attribut
p Nedan gäller både för <code>radio button</code>'s och <code>checkbox</code>:ar.
table.table.table-hover
	tr
		td name
		td Namnet på den grupp som valet tillhör. Detta kommer även att vara "nyckeln" vi använder för att hitta det/de värde/-n användaren valt när denne väl skickat formuläret.
	tr
		td value
		td Eftersom detta inte är ett fritextfält så kommer värdet som skickas vara förbestämt. Med andra ord, detta attribut specificerar det värde vi kommer att se när användaren valt detta alternativ.
	tr
		td id
		td Alla element kan ha unika id:n. I detta fall behöver vi id:n eftersom vi vill kunna referera till input-boxen via vår label.



h4 Select list
p Om vi vill erbjuda en användare många alternativ, som t.ex länder, kan radiobuttons och checkboxes ofta ta alldeles för stor plats. Då kan vi använda oss av <code>&lt;select&gt;</code>-listor. 

.panel.panel-default
	.panel-heading Exempel på select-lista
	.panel-body
		pre
			code.language-markup
				|&lt;select name="fruit"&gt;
				|	&lt;option value="banana"&gt;Banan&lt;/option&gt;
				|	&lt;option value="apple"&gt;Äpple&lt;/option&gt;
				|	&lt;option value="grapes"&gt;Vindruvor&lt;/option&gt;
				|&lt;/select&gt;

.panel.panel-default
	.panel-heading Resultat
	.panel-body
		label(for="select-fruit") Vad vill du äta till frukost?
		select(id="select-fruit", name="frukter").form-control
			option(value="banan") Banan	
			option(value="äpple") Äpple
			option(value="vindruvor") Vindruvor

h5 Multiple-choice select
p Om vi sätter egenskapen <code>multiple</code> så tillåter listan att användaren väljer flera alternativ genom att hålla in <code>ctrl</code> (Windows) eller <code>cmd</code> (Mac). Man kan även markera flera genom att trycka på en post, hålla ned <code>shift</code> och sen trycka på en till.

.panel.panel-default
	.panel-heading Exempel på select-lista
	.panel-body
		pre
			code.language-markup
				|&lt;select name="fruit" multiple&gt;
				| ...
				|&lt;/select&gt;


.panel.panel-default
	.panel-heading Resultat
	.panel-body
		label(for="select-fruit") Vad vill du äta till frukost?
		select(id="select-fruit", name="frukter", multiple).form-control
			option(value="banan") Banan	
			option(value="äpple") Äpple
			option(value="vindruvor") Vindruvor




h4 Submit
p För att skicka ett formulär måste vi in med en knapp, och använder oss då åter av taggen <code>&lt;input&gt;</code>, men denna gången med typ-attributet satt till <code>submit</code>.
p Låt oss se till ett exempel.

.panel.panel-default
	.panel-heading Exempel på submit-knapp
	.panel-body
		pre
			code.language-markup
				|&lt;input type="submit" value="Skicka!"&gt;

.panel.panel-default
	.panel-heading Resultat
	.panel-body
		input(type="submit", value="Skicka!").btn.btn-default







h3 Att skicka formuläret
p.När användaren klickar på en submit-knapp i ett formulär så skickas det ifyllda datat med i nästa request. Knappen leder oss till en ny sida som defineras genom attributet <code>action</code>
p Tyvärr är det så att HTML i sig är otillräckligt för att göra någonting signifikant vad gäller processning av formulär-data. För att faktiskt spara datat i en databas eller på något annat sätt hantera det så behöver vi ett script-språk (ex: JavaScript, PHP, Ruby, ASP o.s.v.)
.panel.panel-default
	.panel-heading Exempel på action
	.panel-body
		pre
			code.language-markup
				|&lt;form action="process-form-data.php"&gt;

h4 HTTP Method
p När vi konstruerar ett formulär som ska skicka data till en annan sida så gör vi det genom en <a href="http://www.w3schools.com/tags/ref_httpmethods.asp" target="_blank">HTTP-metod</a>. För nu kan vi ignorera detta eftersom vi endast pysslar med front-end-språk (html), men det kan ändå vara bra att känna till varför attributet finns där.

p Attributet <code>method</code> kan alterneras mellan de två värdena <code>POST</code> och <code>GET</code>. Dessa är två olika typer av HTTP requests, och skillnaderna innefattar bl.a.a att förstnämnda "gömmer" datat som skickas i request:et, medan sistnämnda visar datat i URL:en. Läs mer i ovan nämnd länk!

p Som tumregel brukar man säga att anrop med "sido-effekter" bör utföras över <code>POST</code> och övriga  över <code>GET</code>. Uttryckt i mer klarspråk: om postningen av formuläret kommer att <em>förändra</em> någonting på servern (ofta spara någonting i en databas) (t.ex. en kommentar), så bör vi arbeta över <code>POST</code>. Om postningen däremot endast syftar till att <em>hämta</em> någonting ifrån servern (t.ex. en sökning) så bör vi arbeta över <code>GET</code>.






h3 Komplett exempel
p
	|Här har vi skapat ett formulär som har två textfält där vi kan skriva in vårt namn och även vad vi skulle vilja heta. Koden för denna 
	|är som nedanstående:

.panel.panel-default
	.panel-heading Komplett formulär-exempel
	.panel-body
		pre
			code.language-markup
				|&lt;form action="#" method="GET"&gt;

				|	&lt;div class="form-group"&gt;
				|		&lt;label for="field-current-name"&gt;Nuvarande namn&lt;/label&gt;
				|		&lt;input type="text" id="field-current-name" name="current-name" placeholder="Ditt nuvarande namn" required&gt;
				|	&lt;/div&gt;

				|	&lt;div class="form-group"&gt;
				|		&lt;label for="field-new-name"&gt;Önskat namn&lt;/label&gt;
				|		&lt;input type="text" id="field-new-name" name="new-name" placeholder="Ditt önskade namn" required&gt;
				|	&lt;/div&gt;

				|	&lt;div class="form-group"&gt;
				|		&lt;div class="radio"&gt;
				|			&lt;label for="field-gender-man"&gt;Man&lt;/label&gt;
				|			&lt;input type="radio" id="field-gender-man" name="gender" value="man"&gt;
				|		&lt;/div&gt;
				|	&lt;/div&gt;

				|	&lt;div class="form-group"&gt;
				|		&lt;div class="radio"&gt;
				|			&lt;label for="field-gender-woman"&gt;Kvinna&lt;/label&gt;
				|			&lt;input type="radio" id="field-gender-woman" name="gender" value="kvinna"&gt;
				|		&lt;/div&gt;
				|	&lt;/div&gt;

				|	&lt;input type="submit" value="Skicka!"&gt;
				|&lt;/form&gt;

blockquote.text-danger Notera att alla <code>div</code>-taggar i ovanstående exempel egentligen är överflödiga. De är endast där för att orsaka radbrytningar mellan varje formulärgrupp och ge oss möjligheten att applicera css-stilar.


.panel.panel-default
	.panel-heading Resultat
	.panel-body
		form(action="#", method="GET")
			.form-group
				label(for="field-current-name") Nuvarande namn
				input(type="text", id="field-current-name", name="current-name", placeholder="Ditt nuvarande namn", required).form-control
			.form-group
				label(for="field-new-name") Önskat namn
				input(type="text", id="field-new-name", name="new-name", placeholder="Ditt önskade namn", required).form-control
			p Vänligen uppge ditt kön
			.form-group
				.radio
					input(id="field-gender-man", type="radio", name="gender", value="man", required) 
					label(for="field-gender-man") Man
				.radio
					input(id="field-gender-woman", type="radio", name="gender", value="woman", required) 
					label(for="field-gender-woman") Kvinna
				.radio
					input(id="field-gender-other", type="radio", name="gender", value="other", required) 
					label(for="field-gender-other") Övrigt
			input(type="submit", value="Skicka!").btn.btn-default

blockquote.text-info Prova gärna att skicka formuläret och notera dels vad attributet <code>required</code> orsakar, samt vad som händer i webbläsarens adressfält.












