.page-header
  h2
    a(href="#head-och-body", name="head-och-body")
      .icon-link 
      | HEAD &amp; BODY

p.lead
  | Ett validerande HTML-dokument måste alltså innehålla ett par saker. En dokumenttypsdeklaration, ett huvud, en titel och en kropp.

p Nyssnämnt är alltså fånigt direktöversatta begrepp av begreppen DOCTYPE, HEAD och BODY. Låt oss återgå till tidigare nämnt kod-exempel (se nedan), och fundera över vilka element som är nästlade i andra element.

.panel.panel-default
  .panel-heading Ett minimalt HTML-dokument
  .panel-body
    pre
      code.language-markup
        | &lt;!DOCTYPE html&gt;
        | &lt;html&gt;
        |   &lt;head&gt;
        |     &lt;title&gt; Page about kittenz! &lt;/title&gt; 
        |   &lt;/head&gt;
        |   &lt;body&gt;
        |   &lt;/body&gt;
        | &lt;/html&gt;

p Notera även att det absolut yttersta elementet är <code>&lt;html&gt;</code>. Ett HTML-dokument måste innehålla ett och endast ett <code>&lt;html&gt;</code>-element. I detta element måste det finnas ett och endast ett <code>&lt;head&gt;</code>- och respektive <code>&lt;body&gt;</code>-element. I huvudet måste vi även ange en sidtitel med hjälp av <code>&lt;title&gt;</code>. Detta är det minsta dokumentet vi kan skapa som validerar, och det är även så här <em>alla</em> html-dokument är strukturerade i botten.

h4 Head (meta-data)
.lead Så vad lägger vi då inanför <code>&lt;head&gt;</code>-taggarna? Det korta svaret är: meta-data.

p Det längre svaret är att vi även laddar in externa referenser i huvudet. Följande kodruta är ett exempel på hur ett set av <code>&lt;head&gt;</code>-taggar skulle kunna se ut.

.panel.panel-default
  .panel-heading Ett exempel på HEAD
  .panel-body
    pre.line-numbers
      code.language-markup
        | ...
        | &lt;head&gt;
        |   &lt;title&gt; Hover cat &lt;/title&gt; 
        |   &lt;link rel="stylesheet" href="stylesheets/main.css"&gt;
        |   &lt;script src="javascripts/main.js"&gt;
        |   &lt;meta charset="utf-8"&gt;
        |   &lt;meta name="keywords" content="Kittens,Hovercrafts"&gt;
        | &lt;/head&gt;
        | ...

p Låt oss diskutera ovan kod rad för rad. 
table.table.table-striped
  tr
    th Rad
    th Förklaring
  tr
    td 3
    td Den titel som visas högst upp i en sidans "tab" i en webbläsare.
  tr
    td 4
    td Säger åt webbläsaren att ladda in en <a href="#stylesheets">Stylesheet</a>-fil, som finns på platsen definerad av <code>href="sökväg-till-filen-här"</code>.
  tr
    td 5
    td Säger åt webbläsaren att ladda in en <a href="#javascript">JavaScript</a>-fil, som finns på platsen definerad av <code>src="sökväg-till-filen-här"</code>.
  tr
    td 6
    td Berättar för webbläsaren vilken "<a href="http://www.joelonsoftware.com/articles/Unicode.html">character encoding</a>" sidan är skriven i, så att tecken som åäö kan visas korrekt.
  tr
    td 7
    td Definerar ett par <a href="http://www.w3schools.com/tags/tag_meta.asp">keywords</a> för sidan. Denna information används av bl.a. sökmotorer för att "förstå" sidans innehåll.

h4 Body (Sidans faktiska innehåll)
.lead Om <code>&lt;head&gt;</code> beskrivs som sidans meta-content -- alltså content om content. Då skulle vi kunna säga att <code>&lt;body&gt;</code> är sidans faktiska content.

.panel.panel-default
  .panel-heading Ett exempel på innehåll i BODY
  .panel-body
    pre.line-numbers
      code.language-markup
        | ...
        | &lt;body&gt;
        |   &lt;h2&gt; Sidans titel &lt;/h2&gt; 
        |   &lt;p&gt; Det här är en paragraf med text. &lt;p&gt;
        |   &lt;p&gt;
        |       Och det här är en till, som innehåller en
        |       &lt;a href="http://uu.se"&gt;länk&lt;/a&gt; till UU.
        |   &lt;p&gt;
        | &lt;/body&gt;
        | ...
