.page-header
  h1
    a(href="#lists", name="lists")
      .icon-link 
      | Listor
p För att kunna skapa listor används ul som står för "Unordered list". För varje item används li. Som ni ser så är oordnad sådan att det är en punkt framför varje item.
ul 
  li Katt
  li Hund
  li Sköldpadda
p Html-koden ser ut som följande:
pre
  code.language-markup
    | &lt;ul&gt;
    |   &lt;li&gt; Katt &lt;/li&gt;
    |   &lt;li&gt; Hund &lt;/li&gt;
    |   &lt;li&gt; Sköldpadda &lt;/li&gt;
    | &lt;/ul&gt;
p För att kunna skapa ordnade listor så används ol. 
ol 
  li Katt
  li Hund
  li Sköldpadda
p Html-koden ser ut som följande:
pre
  code.language-markup
    | &lt;ol&gt;
    |   &lt;li&gt; Katt &lt;/li&gt;
    |   &lt;li&gt; Hund &lt;/li&gt;
    |   &lt;li&gt; Sköldpadda &lt;/li&gt;
    | &lt;/ol&gt;

