.page-header
  h1
    a(href="#struktur", name="struktur")
      .icon-link 
      | Dokumenstruktur

.lead Genom att bygga upp ett dokument m.h.a. element skapar vi vad som brukar kallas en DOM (Document Object Model). För att en webbläsare ska förstå din sida kan denna DOM då dock inte se ut hursomhelst.

h2 Dokument-struktur
.lead Följande kod är ett exempel på det enklaste html-dokumentet vi kan skriva utan att bryta emot några regler (i standarden för html 5).

.panel.panel-default
  .panel-heading Ett enkelt html-dokument
  .panel-body
    pre
      code.language-markup
        | &lt;!DOCTYPE html&gt;
        | &lt;html&gt;
        |   &lt;head&gt;
        |     &lt;title&gt; Min hemsida &lt;/title&gt; 
        |   &lt;/head&gt;
        |   &lt;body&gt;
        |   &lt;/body&gt;
        | &lt;/html&gt;

h3 HTML-dokument kan ses som trädstrukturer
.lead DOM:en kan alltså ses som en trädstruktur.

.row
  .col-md-6
    p Vi skulle kunna visualisera den som lådor i varandra.
    pre
      |  ---------------------------
      | |         DOCTYPE          |
      |  ---------------------------
      |  ---------------------------
      | |           html            |
      | |   ---------------------   |
      | |  |        head         |  |
      | |  |   ---------------   |  |
      | |  |  |     title     |  |  |
      | |  |   ---------------   |  |
      | |   ---------------------   |
      | |   ---------------------   |
      | |  |        body         |  |
      | |   ---------------------   |
      |  ---------------------------
  .col-md-6
    p Eller som en indenterad lista.
    pre
      | DOCTYPE
      | html
      |   head
      |     title
      |   body

    p
      | Detta med indentering leder oss även in på en meningsfull vana html-utvecklare respekterar.
    blockquote
      p Om en tag är ett barn till tag:en ovan, indentera ett steg.
    p Notera alltså hur 
      code title
      |  är indenterad i relation till 
      code head
      |, men hur 
      code body
      i inte 
      | är indenterad i relation till 
      code head.

h3 Välformatterade trädstrukturer
.lead Eftersom vi jobbar med trädstrukturer gäller det att alla barn-taggar avslutas innan vi avslutar den omslutande föräldern.
.row
  .col-md-6
    .panel.panel-danger
      .panel-heading Oavstlutade barn-taggar
      .panel-body
        pre
          = '<p>'
          br
          = '  <span>Vilken huvudvärk!'
          br
          = '  </p>'
          br
          = '</span>'
  .col-md-6
    blockquote
      p Ett sätt att ta reda på ifall ett dokument är "dåligt" indenterat är att försöka rita en sådan lista som ritats ovan under "indenterad lista". Är det svårt att veta hur man ska rita den listan så betyder det antagligen att indenteringen är felaktig.
