.page-header
  h2
    a(href="#tables", name="tables")
      .icon-link 
      | Tabeller
.lead Tabeller används när man behöver strukturera information
p Förr i tiden så strukturerade och positionerade man sin sida med tabeller. Nu använder man div:ar för att fixa detta. Ibland behöver vi dock tabeller för att strukturera information på en hemsida. 

.panel.panel-default
  .panel-heading Exempel på tabell
  .panel-body
    pre
      code.language-markup
        | &lt;table&gt;
        |   &lt;tr&gt;
        |     &lt;th&gt; Djur&lt;/th&gt;
        |     &lt;th&gt; Bästa vän&lt;/th&gt;
        |   &lt;/tr&gt;
        |   &lt;tr&gt;
        |     &lt;td&gt; Hund&lt;/td&gt; 
        |     &lt;td&gt; Katt&lt;/td&gt; 
        |   &lt;/tr&gt;
        |   &lt;tr&gt;
        |     &lt;td&gt; Råtta&lt;/td&gt; 
        |     &lt;td&gt; Gris&lt;/td&gt; 
        |   &lt;/tr&gt;
        | &lt;/table&gt;

    .panel.panel-default
      .panel-heading Resultat
      .panel-body
        table.table.table-bordered(style="width:auto;margin:auto 0;")
          tr
            th Djur
            th Bästa vän
          tr
            td Hund
            td Katt
          tr
            td Råtta
            td Gris

p Förklaring är att själva tabellen är &lt;table&gt; och att &lt;tr&gt; gör ny rad och varje &lt;td&gt; är en cell. På elementet table finns också border-attributet som är satt till 1. Denan skall göras korrekt med en CSS men används för förtydliga exemplet. 
