#toc{
  position: fixed;
  top: 30px;
  padding-right: 30px;
  font-size: 13px;
}

#chapters{
  margin-left: 260px;
}


.divider{
  margin: 150px 20px;
}


/*
 *   Table of Contents
 */
#toc li{
  list-style-type: none;
}
#toc ol{
  padding-left: 0px;
}
#toc li > ol{
  padding-left: 16px;
}



/*
*   Headers
*/
h1{
  font-size: 62px;
}
h2{
  font-size: 36px;
  margin-top: 36px;
  padding-bottom: 4px;
  border-bottom: 1px solid #eee;
}
h3{
  margin-top: 36px;
}


/*
 *  Links
 */
a{
  text-decoration: none !important;
}
a:hover, a:active{
  color: lightblue;
}



/*
 *  Divider
 */
.divider{
  color: #428bca !important;
}