.page-header
  h2
    a(href="#objekt")
      .icon-link 
      | Objekt
p JavaScript är inte ett <a href="http://sv.wikipedia.org/wiki/Objektorienterad_programmering">objektorienterat</a> språk i den klassiska bemärkelsen utan istället ett <a href="http://en.wikipedia.org/wiki/Prototype-based_programming">prototypbaserat</a> språk. Vad detta innebär kommer vi inte fokusera på i denna sektion, och därmed kommer vi inte syssla med instansiering. Istället kommer vi använda objekt som ett sätt att organisera vår kod.

h3 Vad är ett objekt?
p Om du programmerat i ett tidigare språk så kan du jämföra JavaScript-objekt med <code>map</code>'s eller <code>dictionary</code>'s. Om du inte har programmerat tidgare så kan du jämföra objekt med uppslagsverk. Va? Jo, precis så! Helt vanliga gamla bokuppslagsverk. Vänta nu? Va? Jo men tänk dig. Hur fungerar ett uppslagsverk. Om jag undrar vad ordet "katt" betyder så tar jag mitt fysiska uppslagsverk (objektet) och börjar leta efter uppslagsordet "katt" (nyckeln), och när jag väl hittat det så läser jag beskrivningen av vad en katt är (värdet).
p Låt oss analysera de tre nyckelorden vi identifierat i ovan stycke.

dl.dl-horizontal
    dt Objekt
    dd En datatyp som innehåller en kollektion av nycklar som pekar på värden (nyckel-värde-par)
    dt Nyckel
    dd En unik identifierare, såsom "namn", eller "nummer".
    dt Värde
    dd Ett värde kan vara av vilken annan datatyp som helst. Ett värde kan således vara 1 såväl som 32 såväl som "Kapten Haddock" såväl som ett annat objekt.

p Innan vi snurrar vidare är det nog bäst att vi börjar undersöka syntaxen vi använder för att skapa objekt och således diskutera ett exempel.

.panel.panel-default
    .panel-heading Object literals
    .panel-body
        pre
            code.language-javascript
                | var haddock = {
                |   name : 'Kapten Haddock',
                |   beard: 'black as the night',
                |   rank: 1
                | }
        p Nu har vi skapat ett objekt och lagrat det i variabeln <code>haddock</code>. Låt oss nu se hur vi kan interagera med objektet.
        pre
            code.language-javascript
                |haddock.name;         // =&gt; "Haddock"
                |haddock.rank;         // =&gt; 1
                |haddock.beard;        // =&gt; "black as the night"
                |haddock.weapon;       // =&gt; undefined
        p Vi kan nu alltså använda <em>punkt-notation</em> för att nå de värden som gömmer sig bakom ett objekts nycklar. Men faktum är att vi även kan nå värdena genom att använda samma notation vi använder för att nå värdena i en array. Enda skillnaden är att vi istället för att be om en arrays numeriska index ber vi om värdet bakom en viss nyckel. Låt oss se till ett exempel, och tänk på att det är exakt samma objekt som vi arbetar med i båda dessa två exempel.
        pre
            code.language-javascript
                |haddock['name'];         // =&gt; 'Haddock'
                |haddock['rank'];         // =&gt; 1
                |haddock['beard'];        // =&gt; "black as the night"
                |haddock['vegetables'];   // =&gt; undefined

.panel.panel-warning
    .panel-heading Överkurs
    .panel-body
        p Om vi jämför de två olika sätten att nå ett objekts värden märker vi snabbt att vi i det första exemplet skriver nyckelns namn rakt av, medan vi i det andra exemplet skriver nyckeln i formen av en sträng. Det betyder att vi skulle kunna byta ut denna <em>sträng</em> emot ett <em>uttryck</em>. Alltså en variabel, eller t.o.m. en funktion! Låt oss prova:
        pre
            code.language-javascript
                | var prop = 'name';
                | haddock[prop];        // =&gt; 'Haddock'
                | prop = 'rank'
                | haddock[prop];        // =&gt; 1
                | prop = 'beard'
                | haddock[prop];        // =&gt; "black as the night"
                | prop = 'fruit'
                | haddock[prop];        // =&gt; undefined

        p Beroende på vilket värde vi lägger i variabeln hämtar vi värdena vid olika nycklar. Men om det är så att vi inom klammrarna kan ha ett uttryck vilket som helst så skulle vi ju förstås kunna göra ännu galnare grejer.
        pre
            code.language-javascript
                | haddock['na' + 'me'];     // =&gt; 'Haddock'
                | prop = 'na';
                | haddock[prop + 'na'];     // =&gt; 'Haddock'
                | 
                | // eller vad sägs om funktioner..
                | function getKey(){
                |   return 'name'
                | }
                | haddock[getKey()];        // =&gt; 'Haddock'