.page-header
  h2
    a(href="#vart-ska-jag-skriva-javascript")
      .icon-link 
      | Vart ska jag skriva JavaScript?

p.lead Innan vi lärt oss ett dugg om JavaScript ska vi köra en djupdyk med näsan först, och skriva vårt första skript. Samtidigt kommer vi att diskutera var vi väljer att placera vår kod och hur man bör arbeta med JavaScript.

h3 Ett exempelskript
p Om det enkla skriptet i nästföljande figur körs på en webbsida så tar den helt sonika bort allt dokumentet innehåller och ersätter det med texten "Evil rabbits... osv". När vi använder det här skriptet som ett exempel i detta dokument så får du låtsas som om varje exempel-ruta är en egen webbsida. För om vis kulle köra <code class="language-javascript">document.write("");</code> på hela denna sida skulle vi ju rensa hela sidan vilket skulle göra det väldigt svårt för dig att fortsätta läsa denna text.

.panel.panel-default
  .panel-heading Exempelskriptet
  .panel-body
    pre
      code.language-javascript
        | document.write("Evil rabbits are taking over our servers! Must find carrots!");

p Hursomhelst, låt oss nu istället diskutera lite olika platser vi skulle kunna lägga in detta skript på.

h3 Direkt i HEAD
p Ett ställe vi kan placera vår JavaScript på är rakt upp och ner i <code>&lt;HEAD&gt;</code>-taggen. Så länge som vi snurrar in vår JavaScript emellan starttaggen <code>&lt;script&gt;</code> och sluttaggen <code>&lt;/script&gt;</code>-taggarna. Nedan följer ett exempel i ett minimalistiskt HTML-dokument. När du läser exemplet, tänk framförallt på vart <code>&lt;script&gt;</code>-taggarna och ovan nämn javascript-rad är placerad/-e.
.panel.panel-default
  .panel-heading JavaScript i <code>&lt;HEAD&gt;</code>-taggen
  .panel-body
    pre.line-numbers
      code.language-markup
        | &lt;!DOCTYPE html&gt;
        | &lt;html&gt;
        |   &lt;head&gt;
        |     &lt;title&gt;Exempel&lt;/title&gt; 
        |     &lt;script&gt;
        |       document.write("Evil rabbits...");
        |     &lt;/script&gt;
        |   &lt;/head&gt;
        |   &lt;body&gt;
        |     &lt;p&gt;Denna text kommer inte att synas eftersom JavaScriptet skriver över den.&lt;/p&gt;
        |   &lt;/body&gt;
        | &lt;/html&gt;
    .panel.panel-default
      .panel-heading Resultat
      .panel-body Evil rabbits...
    p För att illustrera att detta är någonting som verkligen skapas av JavaScript, så tar vi och <em>kommenterar ut</em> rad 6 såsom nedan. Att kommentera ut en rad gör att den ignoreras av webbläsaren och således inte exekveras.
    pre.line-numbers(data-start="6")
      code.language-javascript
        | // document.write("Evil rabbits...");
    p ...så får vi istället nedan resultat.
    .panel.panel-default
      .panel-heading Resultat
      .panel-body Denna text kommer inte att synas eftersom JavaScriptet skriver över den.


h3 onClick
p Ett annat ställe vi kan placera vår JavaScript-kod på är i onClick-attributet. Som namnet <code>onClick</code> antyder kommer då koden att exekveras just då &mdash; "on click". Alltså när användaren klickar på elementet i fråga.
p Låt oss se till ett exempel, som använder sig av samma kod.
.panel.panel-danger
  .panel-heading Anonym funktion vid onClick
  .panel-body
    pre.line-numbers
      code.language-markup
        | &lt;!DOCTYPE html&gt;
        | &lt;button&gt;
        |   &lt;head&gt;
        |     &lt;title&gt;Exempel&lt;/title&gt; 
        |   &lt;/head&gt;
        |   &lt;body&gt;
        |     &lt;a onClick="document.write('Evil rabbits...');"&gt;Engage descrution!&lt;/a&gt;
        |   &lt;/body&gt;
        | &lt;/html&gt;
    .panel.panel-default
      .panel-heading Resultat
      .panel-body#example-js-onclick
        button.btn.btn-warning Click to engage destruction!
        script
          $(function(){
            $('#example-js-onclick button').click(function(e){
              $('#example-js-onclick').text('Evil rabbits...');
              e.preventDefault();
            });
          });

p I ovan exempel finns det tre viktiga skillnader att notera i relation till det första exemplet. Först och främst. Vår JavaScript ligger nu inte längre inom <code>&lt;HEAD&gt;</code>-taggen utan inom <code>&lt;BODY&gt;</code>. Det betyder alltså att vi har specificerat vårt skript bland vårt content och inte vårt meta-content. Eftersom skript inte är content så borde det här ringa en varningssignal om att vi sysslar med en dålig "practice", men det återkommer vi till senare.
p Den andra viktiga skillnaden vi bör inse är att vi inte längre kör vårt JavaScript när sidan laddas utan istället när användaren klickar på en knapp. Vi har alltså inte bara lagt vårt skript rakt av, utan vi har lagt det som en <em>anonym funktion</em> som kommer att köras när <em>event lyssnaren</em> <code>onClick</code> avfyras. Vi kommer att prata mer om <em>event listeners</em> senare men för nu kan du helt enkelt tänka dig det så här. Egenskapen <code>onClick</code> är ett nyckel-värde-par där värdet är en sträng. Denna sträng kommer inte att tolkas som vilken sträng som helst, utan kommer att exekveras som JavaScript. Vi hade således kunnat skriva vilken arbiträr mängd JavaScript som helst mellan de två citationstecknena som delimiterade värdet. Låt oss se till ett exempel till för att verkligen förstå hur det fungerar.
.panel.panel-danger
  .panel-heading Anonym funktion vid onClick
  .panel-body
    pre.line-numbers
      code.language-markup
        | &lt;a onClick="alert('Hello...'); alert('...you!');"&gt;Welcome me!&lt;/a&gt;
    .panel.panel-default
      .panel-heading Resultat
      .panel-body#example-js-onclick
        button.btn.btn-warning(onClick="alert('Hello...');alert('...you!');") Welcome me!

blockquote.text-danger Glöm nu allt du lärt dig om att skriva inline-javascript i <code>onClick</code> och glöm nästan allt du lärt dig om att skriva JavaScript direkt i <code>&lt;head&gt;</code> &mdash; det finns bättre sätt!
p Som vanligt är detta bättre sätt baserat på idéen om "<a href="http://en.wikipedia.org/wiki/Separation_of_concerns">separation of concerns</a>" och innebär att vi flyttar vår JavaScript till en separat fil. Och det är detta vi kommer göra i nästa stycke.

h3 JS i separat fil
p TODO. Kommer snart...

