.page-header
  h2
    a(href="#vart-ska-jag-skriva-javascript")
      .icon-link 
      | Vart ska jag skriva JavaScript?

p Innan vi lärt oss ett dugg om JavaScript ska vi köra en djupdyk med näsan först, och skriva vårt första skript. Samtidigt kommer vi att diskutera var vi väljer att placera vår kod och hur man bör arbeta med JavaScript.

h3 Ett exempelskript
p Om det enkla skriptet i nästföljande figur körs på en webbsida så tar den helt sonika bort allt dokumentet innehåller och ersätter det med texten "Evil rabbits... osv". När vi använder det här skriptet som ett exempel i detta dokument så får du låtsas som om varje exempel-ruta är en egen webbsida. För om vis kulle köra <code class="language-javascript">document.write("");</code> på hela denna sida skulle vi ju rensa hela sidan vilket skulle göra det väldigt svårt för dig att fortsätta läsa denna text.

.panel.panel-default
  .panel-heading Exempelskriptet
  .panel-body
    pre
      code.language-javascript
        | document.write("Evil rabbits are taking over our servers! Must find carrots!");

p Hursomhelst, låt oss nu istället diskutera lite olika platser vi skulle kunna lägga in detta skript på.

h3 Direkt i HEAD
p Ett ställe vi kan placera vår JavaScript på är rakt upp och ner i <code>&lt;HEAD&gt;</code>-taggen. Så länge som vi snurrar in vår JavaScript emellan starttaggen <code>&lt;script&gt;</code> och sluttaggen <code>&lt;/script&gt;</code>-taggarna. Nedan följer ett exempel i ett minimalistiskt HTML-dokument. När du läser exemplet, tänk framförallt på vart <code>&lt;script&gt;</code>-taggarna och ovan nämn javascript-rad är placerad/-e.
.panel.panel-danger
  .panel-heading JavaScript i <code>&lt;HEAD&gt;</code>-taggen
  .panel-body
    pre.line-numbers
      code.language-markup
        | &lt;!DOCTYPE html&gt;
        | &lt;html&gt;
        |   &lt;head&gt;
        |     &lt;title&gt;Exempel&lt;/title&gt; 
        |     &lt;script&gt;
        |       document.write("Evil rabbits...");
        |     &lt;/script&gt;
        |   &lt;/head&gt;
        |   &lt;body&gt;
        |     &lt;p&gt;Denna text kommer inte att synas eftersom JavaScriptet skriver över den.&lt;/p&gt;
        |   &lt;/body&gt;
        | &lt;/html&gt;
    .panel.panel-default
      .panel-heading Resultat
      .panel-body Evil rabbits...
    p För att illustrera att detta är någonting som verkligen skapas av JavaScript, så tar vi och <em>kommenterar ut</em> rad 6 såsom nedan. Att kommentera ut en rad gör att den ignoreras av webbläsaren och således inte exekveras.
    pre.line-numbers(data-start="6")
      code.language-javascript
        | // document.write("Evil rabbits...");
    p ...så får vi istället nedan resultat.
    .panel.panel-default
      .panel-heading Resultat
      .panel-body Denna text kommer inte att synas eftersom JavaScriptet skriver över den.


h3 onClick
p Ett annat ställe vi kan placera vår JavaScript-kod på är i onClick-attributet. Som namnet <code>onClick</code> antyder kommer då koden att exekveras just då &mdash; "on click". Alltså när användaren klickar på elementet i fråga.
p Låt oss se till ett exempel, som använder sig av samma kod.
.panel.panel-danger
  .panel-heading Anonym funktion vid onClick
  .panel-body
    pre.line-numbers
      code.language-markup
        | &lt;!DOCTYPE html&gt;
        | &lt;button&gt;
        |   &lt;head&gt;
        |     &lt;title&gt;Exempel&lt;/title&gt; 
        |   &lt;/head&gt;
        |   &lt;body&gt;
        |     &lt;a onClick="document.write('Evil rabbits...');"&gt;Engage descrution!&lt;/a&gt;
        |   &lt;/body&gt;
        | &lt;/html&gt;
    .panel.panel-default
      .panel-heading Resultat
      .panel-body#example-js-onclick
        button.btn.btn-warning Click to engage destruction!
        script
          $(function(){
            $('#example-js-onclick button').click(function(e){
              $('#example-js-onclick').text('Evil rabbits...');
              e.preventDefault();
            });
          });

p I ovan exempel finns det tre viktiga skillnader att notera i relation till det första exemplet. Först och främst. Vår JavaScript ligger nu inte längre inom <code>&lt;HEAD&gt;</code>-taggen utan inom <code>&lt;BODY&gt;</code>. Det betyder alltså att vi har specificerat vårt skript bland vårt content och inte vårt meta-content. Eftersom skript inte är content så borde det här ringa en varningssignal om att vi sysslar med en dålig "practice", men det återkommer vi till senare.
p Den andra viktiga skillnaden vi bör inse är att vi inte längre kör vårt JavaScript när sidan laddas utan istället när användaren klickar på en knapp. Vi har alltså inte bara lagt vårt skript rakt av, utan vi har lagt det som en <em>anonym funktion</em> som kommer att köras när <em>event lyssnaren</em> <code>onClick</code> avfyras. Vi kommer att prata mer om <em>event listeners</em> senare men för nu kan du helt enkelt tänka dig det så här. Egenskapen <code>onClick</code> är ett nyckel-värde-par där värdet är en sträng. Denna sträng kommer inte att tolkas som vilken sträng som helst, utan kommer att exekveras som JavaScript. Vi hade således kunnat skriva vilken arbiträr mängd JavaScript som helst mellan de två citationstecknena som delimiterade värdet. Låt oss se till ett exempel till för att verkligen förstå hur det fungerar.
.panel.panel-danger
  .panel-heading Anonym funktion vid onClick
  .panel-body
    pre.line-numbers
      code.language-markup
        | &lt;a onClick="alert('Hello...'); alert('...you!');"&gt;Welcome me!&lt;/a&gt;
    .panel.panel-default
      .panel-heading Resultat
      .panel-body#example-js-onclick
        button.btn.btn-warning(onClick="alert('Hello...');alert('...you!');") Welcome me!

blockquote.text-danger Glöm nu allt du lärt dig om att skriva inline-javascript i <code>onClick</code> och glöm nästan allt du lärt dig om att skriva JavaScript direkt i <code>&lt;head&gt;</code> &mdash; det finns bättre sätt!
p Som vanligt är detta bättre sätt baserat på idéen om "<a href="http://en.wikipedia.org/wiki/Separation_of_concerns">separation of concerns</a>" och innebär att vi flyttar vår JavaScript till en separat fil. Och det är detta vi kommer göra i nästa stycke.

h3 JS i separat fil
p Om du inte har en medveten anledning till varför du inte ska göra det så är det bästa sättet att hantera JavsScript &mdash; i en separat fil. På precis samma sätt som vi arbetar med CSS så skapar vi en ny fil som vi döper till <code>ett-schysst-filnamn.js</code>. Notera alltså ändelsen <code>.js</code>. Sedan gör vi på precis (nästan) samma sätt som när vi har en extern CSS-fil. Alltså, vi lägger in ett element i <code>&lt;head&gt;</code> som pekar på vår JavaScript-fil. Som så:

.panel.panel-success
  .panel-heading Ladda in en extern javascript-fil
  .panel-body
    .panel.panel-default
      .panel-heading index.html
      .panel-body
        pre.line-numbers
          code.language-markup
            | &lt;!DOCTYPE html&gt;
            | &lt;html&gt;
            |   &lt;head&gt;
            |     &lt;title&gt;Exempel&lt;/title&gt; 
            |     &lt;script src="main.js"&gt;&lt;/script&gt;
            |   &lt;/head&gt;
            |   &lt;body&gt;
            |   &lt;/body&gt;
            | &lt;/html&gt;
    .panel.panel-default
      .panel-heading main.js
      .panel-body
        pre
          code.language-javascript
            | document.write("Oh noes evil rabbits...");
    .panel.panel-default
      .panel-heading Resultat
      .panel-body
        p Oh noes evil rabbits...

p Notera alltså rad 5 i ovan exempel. Det är just rad 5 som berättar för webbläsaren vart JavaScript-filen finns. Vi anger .js-filens plats med en relativ sökväg genom att bara skriva <code>filnamnet.js</code> rakt upp och ned. Så webbläsaren kommer alltså leta efter en fil vid namn <code>filnamnet.js</code> i <em>samma mapp</em> som index.html ligger.

.panel.panel-warning
  .panel-heading Överkurs
  .panel-body
    p Kanske har du märkt att många webbutvecklare laddar in sina JavaScript-filer i <code>&lt;body&gt;</code> och inte i <code>&lt;head&gt;</code>. Detta har med performance och göra, och är egentligen en superb idé! Låt oss prata om varför.

    p När en webbläsare renderar en webbsida så går den uppifrån och ned. Och när den stöter på ett request till en extern resurs, såsom en bild, en css-fil, eller en javascript-fil etc. så behöver den stanna, vänta, och ladda in filen. Tänk på det en stund. När vi lägger in en bild i ett html-dokument så lägger vi ju faktiskt inte in bilden utan endast en <em>referens till den plats <code>url</code> där bilden befinner sig</em>. Detta innebär att webbläsaren alltså måste <em>hämta</em> ("ladda ner") denna bild för att faktiskt kunna visa den.

    p Eftersom webbläsare endast kan hantera ett limiterat antal requests parallelt så betyder det att sidan lätt fastnar i en <a href="http://en.wikipedia.org/wiki/Bottleneck">flaskhals</a>. Standarden HTTP/1.1 specificerar att en browser max bör hålla <a href="http://www.stevesouders.com/blog/2008/03/20/roundup-on-parallel-connections/">två öppna connections per server</a>, detta vilket uppenbart orsakar en flaskhals ifall vi hämtar 10 bilder, 2 css-filer och 1 javascript-fil ifrån vår egen server.

    p Moderna browsers har dock valt att ignorera dessa maxtal och hanterar faktiskt fler <a href="http://www.browserscope.org/?category=network&v=top">parallella uppkopplingar</a> men trots detta har det blivit praxis att låta JavaScript-filerna laddas in allra sist i <code>&lt;body&gt;</code>. Anledningen till detta är alltså att om webbläsaren får en chans att parse:a hela <code>&lt;body&gt;</code>:n innan den krockar med det element som pekar på en javascript-fil, så betyder det att webbläsaren kommer ha en chans att visuellt printa ut sidan för användaren och <em>SEN</em> börja hämta denna javascript-fil.

    p Faktum är att det t.o.m. är <a href="http://www.w3schools.com/js/js_howto.asp">tillåtet enligt specifikation</a> att placera <code>&lt;script&gt;</code>-taggar i <code>&lt;body&gt;</code>. Låt oss se till ett exempel över hur detta skulle kunna se ut.

    .panel.panel-default
      .panel-heading Ladda in JavaScript-filer i slutet av <code>&lt;body&gt;</code>
      .panel-body
        pre
          code.language-markup
            | &lt;!DOCTYPE html&gt;
            | &lt;html&gt;
            |   &lt;head&gt;
            |     &lt;title&gt;Exempel&lt;/title&gt; 
            |   &lt;/head&gt;
            |   &lt;body&gt;
            |     &lt;p&gt;Först lägger vi allt vårt content&lt;/p&gt;
            |     &lt;p&gt;Och sen sist, laddar vi in js:&lt;/p&gt;
            |     &lt;script src="main.js"&gt;&lt;/script&gt;
            |   &lt;/body&gt;
            | &lt;/html&gt;

    p Således används alltså denna teknik för att ge användaren en känsla av att sidan har laddat klart snabbare än den egentligen gör. Om vi lägger våra javascript-filer i <code>&lt;head&gt;</code> kommer webbläsaren alltså att "blocka" sidan och inte printa ut någonting visuellt förrän <em>hela</em> javascript-filen har laddats ned. Men om vi lägger referensen till vår javascript fil i slutet av <code>&lt;body&gt;</code> kommer webbläsaren att rendera hela <code>&lt;body&gt;</code>:n innan den börjar blocka och ladda in javascript-filen.

    p Såsom mycket annat i världen så är detta inte svart eller vitt, utan det finns många fall där vi faktiskt bör ladda in JavaScript i <code>&lt;head&gt;</code>. Du kan läsa mer om detta bl.a. <a href="http://stackoverflow.com/questions/14328449/when-do-you-put-javascript-in-body-when-in-head-and-when-use-doc-load">här</a>.