.page-header
  h2
    a(href="#css-selectorer", name="css-selectorer")
      .icon-link
      | CSS-selectorer
h3 Vanliga selektorer och atttribut
p Man kan ju tycka att det borde räcka med att kunna hänvisa till element bara via deras typ, klass eller typer. Detta är dock inte sant, suck! Det går att använda att komma åt element på andra sätt och detta gör det lättare man slipper sätta klass eller id på allt. Nedanför finner ni olika selektorer och exempel. Observera att det finns flera....Never ending story! 
h4 Selektor: *
.panel.panel-default
  .panel-heading Exempel på HTML och CSS med * 
  .panel-body
    pre
      code.language-markup
        | &lt;h2&gt;En rubrik, yay!&lt;/h2&gt;
        | &lt;p&gt;En paragraf, yay!&lt;/p&gt;
    pre
      code.language-css
        | *{
        |   font-size: 24px; 
        |   background:#ff6600;
        |  }

h4 Selektor: E
.panel.panel-default
  .panel-heading Exempel på HTML och CSS med E 
  .panel-body
    p E står i detta fall att man använder elementets typ som selektor. 
    pre
      code.language-markup
        | &lt;p&gt;En paragraf, yay!&lt;/p&gt;
    pre
      code.language-css
        | p{
        |   font-size: 24px; 
        |   background:#ff6600;
        | }
h3 PseudoKlasser

h4 E:link
.panel.panel-default
  .panel-heading Exempel på ett element som är en länk som inte besökts än.
  .panel-body
    pre
      code.language-markup
        | &lt;a href="http://htmlhunden.se"&gt;Värsta grymma grejen!&lt;/p&gt;
    pre
      code.language-css
        | a:link{
        |   color:pink;
        | }

h4 E:visited
.panel.panel-default
  .panel-heading Exempel på ett element som har blivit besökt.
  .panel-body
    pre
      code.language-markup
        | &lt;a href="http://htmlhunden.se"&gt;Värsta grymma grejen!&lt;/p&gt;
    pre
      code.language-css
        | a:visited{
        |   color:blue;
        | }
h4 E:hover
.panel.panel-default
  .panel-heading Exempel på element som har muspekaren över sig.
  .panel-body
    pre
      code.language-markup
        | &lt;a href="http://htmlhunden.se"&gt;Värsta grymma grejen!&lt;/p&gt;
    pre
      code.language-css
        | a:hover{
        |   color:green;
        | }
h4 E:active
.panel.panel-default
  .panel-heading Exempel på länk som är aktivt (exempelvis när användaren trycker ner knappen)
  .panel-body
    pre
      code.language-markup
        | &lt;a href="http://htmlhunden.se"&gt;Värsta grymma grejen!&lt;/p&gt;
    pre
      code.language-css
        | a:active{
        |   color:purple;
        | }
h3 Kombinationer
h4 E F
.panel.panel-default
  .panel-heading Exempel på referens till extern stilmall
  .panel-body
    p Alla element F som kommer efter E. Alltså i detta fall alla fyra första paragrafer. 
    pre
      code.language-markup
        | &lt;div class="yttre"&gt;
        |   &lt;p&gt;En första paragraf&lt;/p&gt;
        |   &lt;p&gt;En andra paragraf&lt;/p&gt;
        |   &lt;p&gt;En tredje paragraf&lt;/p&gt;
        |   &lt;div class="inre"&gt;
        |     &lt;p&gt;En fjärde paragraf&lt;/p&gt;
        |   &lt;/div&gt;
        | &lt;/div&gt;
    pre
      code.language-css
        | .yttre p{
        |   color:pink;
        | }
h4 E+F
.panel.panel-default
  .panel-heading Exempel på referens till extern stilmall
  .panel-body
    p alla element som direkt föregås av E. Alltså i detta fall kommer andra och tredje paragrafen att påverkas. 
    pre
      code.language-markup
        | &lt;div class="yttre"&gt;
        |   &lt;p&gt;En första paragraf&lt;/p&gt;
        |   &lt;p&gt;En andra paragraf&lt;/p&gt;
        |   &lt;p&gt;En tredje paragraf&lt;/p&gt;
        |   &lt;div class="inre"&gt;
        |     &lt;p&gt;En rubrik, yay!&lt;/p&gt;
        |   &lt;/div&gt;
        | &lt;/div&gt;
    pre
      code.language-css
        | p + p{
        |   color:pink;
        | }

h4 E > F 
.panel.panel-default
  .panel-heading Exempel på element som är direkt barn av ett annat element. 
  .panel-body
    p Anta att vi har följande html...
    pre
      code.language-markup
        | &lt;div class="yttre"&gt;
        |   &lt;p&gt;En första paragraf&lt;/p&gt;
        |   &lt;p&gt;En andra paragraf&lt;/p&gt;
        |   &lt;div class="inre"&gt;
        |     &lt;p&gt;En inre paragraf!&lt;/p&gt;
        |   &lt;/div&gt;
        | &lt;/div&gt;
    p Och sedan skriver denna regel..
    pre
      code.language-css
        | .yttre > p{
        |   color:pink;
        | }
    p Så kommer vi således alltså endast "träffa" de två första <code>&lt;p&gt;</code>-elementen eftersom endast de är <b>direkta</b> barn till elementet med klassen <code>.yttre</code>.
    .panel.panel-default
      .panel-heading Resultat
      .panel-body
        div
          p(style="color:pink;") En första paragraf
          p(style="color:pink;") En andra paragraf
        div
          p En inre paragraf
// TODO: This really needs more flesh when it comes to selectors
// There is yet nothing about pseudo elements, nesting nor siblings or