.page-header
  h2
    a(href="#css-intro", name="css-intro")
      .icon-link 
      | Introduktion till CSS

h4 Innehåll och struktur
p 
  |CSS - (Cascading Style Sheets) är stilmallar som tillåter både den som skapar dokument och den som 
  |läser dem att använda sin egen stilmall. I praktiken har CSS använts till att formge dokument när det gäller 
  |färg, teckensnitt, justering av text och objekt mm. En enda CSS-mall kan styra tusentals dokument och det är då
  | enkelt att ändra formateringen genom att det bara i CSS-mallen. CSS har tagit HTML ett steg längre och möjliggjort
  | formateringar och effekter som inte fanns i HTML standarden. En av fördelarna med CSS är att flera mallar kan användas 
  |och de har då företräde inbördes så att en "huvudmall" med de övergripande formateringarna kan ersättas på en lägre nivå
  | av en "lokal mall" som då gäller före huvudmallen. CSS är liksom XML/XHTML ett steg mot att separera innehåll och 
  |struktur i dokument. All formatering bör ske i externa mallar vilket gör att mängden kod i själva dokumentet minskar 
  |avsevärt och gör att sidorna laddas snabbare i webbläsaren. Då samma mall används för varje dokument behöver inte 
  |webbläsaren läsa in formateringsanvisningar på nytt varje gång en ny sida anropas.
h4 Tillgänglighet
p 
  |En målsättning med CSS är att läsaren ska kunna påverka utseendet av dokumentet när sidorna läses i webbläsaren 
  |vilket inte alltid har varit populärt bland författarna av dokumenten då förändringar kan påverka webbplatsens layout. 
  |Detta har i praktiken inneburit att vissa grupper har utestängts från att använda många platser på Internet. Syn- och 
  |hörselskadade och andra har haft svårigheter att ta del av innehåll på sidorna trots att det finns programvaror för 
  |tolkning av innehåll på webbsidor. Tillgänglighet är ett av ledorden när framtidens webbplatser ska utformas och då
  | gäller detta inte bara de som har svårt att läsa dokumenten på en PC. Ett av målen för W3C är att göra webbaserat 
  |innehåll tillgängligt på fler plattformar än PC. Det kan vara för PDA (handdator), mobiltelefoner, enheter för talsyntes 
  |och punktskrift (Braille). Genom att strukturera dokumenten på rätt sätt ska alltså både synskadade och hörselskadade 
  |kunna ta del av innehållet. Det innebär att många webbplatser som byggts med layout som första prioritet inte fungerar om
  | de använder tex Frames, Iframes, Imagemaps, java, javascript, nästlade tabeller, bilder utan ALT-text, GIF-animationer, 
  |Flash, Shockwave, PDF-dokument osv. Många funktioner som används idag går då¨alltså bort helt.
