.page-header
  h1 Positionering

h2 Static
p
  | Om du inte anger någonting anna, kommer element att positioneras statiskt. Alltså följa sinaturliga plats i dokument-det.
.panel.panel-default
  .panel-heading Exempel
  .panel-body
    div(style="width:50px;height:50px;background:red;")
    div(style="width:50px;height:50px;background:blue;")

h2 Fixed

h2 Absolute

h2 Relative

