.page-header
  h1
    a(href="#css-positionering", name="css-positionering")
      .icon-link 
      | CSS Positionering

h2 Static
p
  | Om du inte anger någonting anna, kommer element att positioneras statiskt. Alltså följa sinaturliga plats i dokument-det.
.panel.panel-default
  .panel-heading Exempel på statisk positionering
  .panel-body
    div(style="width:100px;height:100px;background:red; margin-bottom:12px;")
    div(style="width:100px;height:100px;background:blue;")

h2 Fixed

.panel.panel-default
  .panel-heading Bilden i detta exempel har fixed positionering
  .panel-body
     iframe(id="example-css-position-fixed", style="width:100%; height:200px; border:1px solid #dedede; overflow:scroll;")

h2 Absolute

h2 Relative

h2 Video om centrering
p.lead Om du finner ovan lite konfunderande finns nedan en film som applicerar några av dessa metoder i praktiken.
p I videon är målet att centrera en <code>&lt;div&gt;</code> horisontellt och vertikalt på sidan. Detta vilket leder oss in på bland annat absolut positionering. 

.panel.panel-default
  .panel-heading En video om horisontell &amp; vertikal centrering med css
  .panel-body
    iframe(width="100%", height="375", src="//www.youtube.com/embed/GqCj_sHxzGE?rel=0&vq=hd1080", frameborder="0", allowfullscreen)