.page-header
  h1
    a(href="#css-syntax", name="css-syntax")
      .icon-link 
      | CSS syntax och struktur
p 
  |En CSS syntax är enkelt då en style består av selector och ett antal rules sätts till den valde selector. 
  |Varav en regel består av en eller flera  property : Value
pre
  |Selector { Rules}
  |Property : Value;

p Css- Syntax Detaljer 
ul
  li Selectors är case-sensitive när vi refererar till element, klasser, ID  och attribut 
  li Propertys och values är case-insensitive  
pre
  |Ett exempel av detta  är: 
  br
  ="p { margin:0; }" 
  br
  |där p är selectorn som har en regel där egenskapen margin (Property) sätts till värdet (value) 0.