!!!html utf-8
html(lang="sv")
  head
    title HTML-lathunden
    meta(charset="utf-8")
    link(href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css", rel="stylesheet")
    link(href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", rel="stylesheet")
    link(href="assets/stylesheets/main.css", rel="stylesheet")
    link(href="assets/stylesheets/prism.css", rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Lily+Script+One", rel="stylesheet")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="assets/javascripts/main.js")
    script(src="assets/javascripts/prism.js")
  body
    .container