include header
  .container
    #toc
      include table-of-contents

    #flow
      #title
        include title

      #chapters

        // introduktion
        include chapters/introduktion/start
        include divider
        include chapters/introduktion/arkitektur

        // markup
        include divider
        include chapters/markup/element
        include divider
        include chapters/markup/struktur
        include divider
        include chapters/markup/head-och-body
        include divider
        include chapters/markup/lankar
        include divider
        include chapters/markup/formular

        // css
        include divider
        include chapters/stylesheets/syntax-och-struktur
        include divider
        include chapters/stylesheets/css-placering
        include divider
        include chapters/stylesheets/positionering

  script(src="http://localhost:35729/livereload.js") 