include templates/common-header.jade
include templates/paginated-header.jade

section.title
  img.logo(src="/dist/assets/images/logo.png")
  h1 HTMLHunden
  h2 En pragmatisk höghastighets-<br>guide till webbutveckling
  p Välkommen till HTMLHunden! En pragmatisk höghastighetsguide som inte bara lär dig att bygga webbsidor ifrån den absoluta grunden utan även hela tiden ser till att förklara varför vi gör såsom vi gör. HTMLHundens filosofi är inte att lära dig allt &mdash; utan att lära dig tillräckligt mycket för att du ska kunna lära dig själv! Det tror vi är det snabbaste sättet. Så på med rakethatten så kör vi!

  .row
    .col-md-12.text-center
      br
      .btn-group
        a(href="dist/full.html").btn.btn-lg.btn-info Läs hela
        a(href="dist/toc.html").btn.btn-lg.btn-danger Innehållsförteckning

section
  h2 Översikt
  #toc-overview
    include templates/toc-paginated.jade

include templates/common-footer.jade
include templates/paginated-footer.jade