include header
  .container
    #toc
      include table-of-contents

    #flow
      #title
        include title

      #chapters

        // introduktion
        include chapters/introduktion/start
        include divider
        include chapters/introduktion/arkitektur

        // markup
        include divider
        include chapters/markup/element
        include divider
        include chapters/markup/kommentarer
        include divider
        include chapters/markup/struktur
        include divider
        include chapters/markup/indentering
        include divider
        include chapters/markup/head-och-body
        include divider
        include chapters/markup/lankar
        include divider
        include chapters/markup/lists
        include divider
        include chapters/markup/tables
        include divider
        include chapters/markup/formular
        include divider
        include chapters/markup/doctypes
        include divider
        include chapters/markup/encodings
        include divider
        include chapters/markup/bilder

        // css
        include divider
        include chapters/stylesheets/intro
        include divider
        include chapters/stylesheets/syntax-och-struktur
        include divider
        include chapters/stylesheets/css-placering
        include divider
        include chapters/stylesheets/cascade
        include divider
        include chapters/stylesheets/boxmodell
        include divider
        include chapters/stylesheets/positionering

  script(src="http://localhost:35729/livereload.js") 