include templates/common-header.jade
include templates/paginated-header.jade

.text-center
  h1 HTMLHunden
  p En pragmatisk höghastighetsguide till webbutveckling

.row
  .col-md-12.text-center
    a(href="dist/full.html").btn.btn-lg.btn-info Klicka för att läsa allt på en sida

.row
  .col-md-6.col-md-offset-3
    include templates/toc-full.jade

include templates/common-footer.jade
include templates/paginated-footer.jade