include header
  .container

    .row
        .col-md-3
        .col-md-9
            #title
                include title

    .row.visible-sm.visible-xs
        include divider
        .toc#toc-mobile
            include table-of-contents

    .row
        .col-md-3
            .toc#toc-desktop.hidden-sm.hidden-xs
              include table-of-contents

        .col-md-9
              #chapters

                // introduktion
                include divider
                h1 Introduktion
                p.lead Välkommen till HTMLHunden! En pragmatisk höghastighetsguide som inte bara lär dig att bygga webbsidor ifrån den absoluta grunden utan även hela tiden ser till att förklara varför vi gör såsom vi gör. HTMLHundens filosofi är inte att lära dig allt &mdash; utan att lära dig tillräckligt mycket för att du ska kunna lära dig själv! Det tror vi är det snabbaste sättet. Så på med rakethatten så kör vi!
                include chapters/introduktion/start
                include chapters/introduktion/arkitektur

                // markup
                include divider
                h1 Hypertext Markup Language
                p.lead Navet i det stora webbhjulet skulle vi nog kunna hävda är just HTML. Detta markup-language har hängt med länge och är just det språk vi använder för att strukturera upp information på ett sätt som en webbläsare förstår. Detta kapitel kommer lära dig hur HTML fungerar och hur vi skriver det.
                include chapters/markup/element
                include chapters/markup/kommentarer
                include chapters/markup/struktur
                include chapters/markup/indentering
                include chapters/markup/head-och-body
                include chapters/markup/lankar
                include chapters/markup/lists
                include chapters/markup/tables
                include chapters/markup/formular
                include chapters/markup/doctypes
                include chapters/markup/encodings
                include chapters/markup/bilder

                // css
                include divider
                h1 Cascading Stylesheets
                p.lead Om HTML beskriver en webbsidas innehåll så beskriver CSS hur detta innehåll ser ut. Om webben var en teaterpjäs skulle HTML vara manuset och CSS regissören. "Du ska stå där, du där och du där! Vänta nu, du behöver ha en grön hatt, och du behöver ha en mask och en cape!"
                include chapters/stylesheets/intro
                include chapters/stylesheets/syntax-och-struktur
                include chapters/stylesheets/css-placering
                include chapters/stylesheets/cascade
                include chapters/stylesheets/boxmodell
                include chapters/stylesheets/positionering

                // javascript
                include divider
                h1 JavaScript
                p.lead Den största limitationen med HTML och CSS skulle kunna beskrivas med ett att de är ett ord &mdash; statiska. De båda språken klarar av en viss nivå av interaktivitet, men i huvudsak behöver vi någonting mycket mer dynamiskt för att kunna uppnå seriös interaktivitet. Ridån faller.. och in kommer JavaScript!
                include chapters/javascript/intro
                include chapters/javascript/placering
                include chapters/javascript/variabler
                include chapters/javascript/funktioner
                include chapters/javascript/objekt


                // jquery
                include divider
                h1 jQuery
                p.lead Att koda JavaScript är en fröjd i många avseenden, men framförallt för att språket genomsyras av en fantastisk open-source-kultur där en multitud av problem redan är lösta. I den här sektionen pratar vi lite om open-source och js-bibliotek generellt. Men framförallt ska vi lära oss att skaka fram webbläsareffekter som en annan jQuery-Houdini. <code>slideIn(); fadeOut();</code>
                include chapters/jquery/intro
                include chapters/jquery/opensource

                // about
                include divider
                h1 Epilog
                include chapters/efterord
                include divider

  script(src="http://localhost:35729/livereload.js") 