ol
  li Introduktion
    ol
      li
        a(href="#start") Så kommer du igång!
      li
        a(href="#arkitektur") Webbens Arkitektur

  li Markup (html)
    ol
      li  
        a(href="#element") Element
      li
        a(href="#kommentarer") Kommentarer
      li
        a(href="#struktur") Dokumentstruktur
      li
        a(href="#indentering") Indentering
      li
        a(href="#head-och-body") HTML, HEAD, BODY
      li
        a(href="#lankar") Länkar
      li
        a(href="#lists") Listor
      li
        a(href="#tables") Tabeller
      li
        a(href="#formular") Formulär
      li
        a(href="#doctypes") Doctypes
      li
        a(href="#encodings") Teckenkodningar (åäö)
      li
        a(href="#bilder") Bilder

  li Stylesheets (css)
    ol
      li
        a(href="#css-intro") Introduktion
      li
        a(href="#css-syntax") Syntax
      li
        a(href="#css-placering") Vart ska jag skriva CSS?
      li
        a(href="#css-cascade") Cascading
      li
        a(href="#boxmodell") Box-modellen
      li
        a(href="#css-positionering") Positionering

  li JavaScript
    ol.text-muted
      li
        a(href="#js-intro") Introduktion
      li
        | Syntax
      li
        | Vart ska jag skriva Javascript?
      li
        | Variabler
      li
        | Funktioner
      li
        | Object literals
      li
        | jQuery
        ol
          li Events

  li
    a(href="#efterord") Efterord
