include templates/common-header.jade
include templates/toc-header.jade

h1 Table of contents
include templates/toc-paginated

include templates/common-footer.jade
include templates/paginated-footer.jade