/*
 * Generics
 */
img{
  max-width: 100%;
}
th{
  font-weight: bold;
}
.container{
  max-width: 920px;
  margin: 0 auto;
}
body#paginated{
  padding: 2em 1em;
}



/*
 * Logotype
 */
.logo{
  margin:  32px auto;
  width:   260px;
  display: block;
}

/*
 * Tables
 */
.table td.table-divider{
  color: #777;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
.table td.table-divider:before{
  content: "\2B07  ";
}



/*
 * Blockquotes
 */
blockquote{
  font-size: 1.5em;
  color: #666;
  width: 100%;
}
blockquote footer{
  margin-top: 4px;
  font-size: .53em;
  padding-right: 10%;
}
blockquote code{
  color: inherit;
}
@media (min-width: 600px){
  blockquote{
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
  blockquote footer{
    padding-right: 40%;
  }
}



/*
 * Responsive typography
 */
html{
  font-size: 100%;
}
body{
  font-size: 1em;
}
@media (min-width: 600px) {
  body{ font-size: 1em; }
}
@media (min-width: 1024px) {
  body{ font-size: 1.1em; }
}


/* 
 * Typography
 */
body, h1, h2, h3{
  font-family: 'myriad pro', Helvetica, Arial, sans-serif;
}
h1, h2, h3{
  font-weight: bold;
}

p{
  font-size: 1em;
  line-height: 1.6em;
  color: #555;
}
/* title h1 */
.title h1{
  font-size: 4.3em;
}

/* h1 */
h1{
  font-size: 2.5em;
}
h1 + .lead{
  font-size: 1.4em;
  color: #777;
}

/* h2 */
h2{
  font-size: 1.8em;
}
h2, h2 a{
  color: #444;
}
.page-header + p{
  font-size: 1.1em;
  color: #444;
}

/* h3 */
h3{
  font-size: 1.2em;
  color: #555;
}





/*
 *  Links
 */
a{
  text-decoration: none !important;
}
a:hover, a:active{
  color: lightblue;
}



/*
 *  Divider
 */
.divider{
  color: #dedede !important;
  margin: 200px auto;
}



/*
 * Sections
 */
section.title{
  margin: 0 auto;
}
section.title h1,
section.title h2{
  text-align: center;
}






/*
 * ==== TABLE OF CONTENTS ====
 */
.no-padding{
  padding: 0 !important;
}
body#single{
  padding: 10px 10px 10px 50px;
}
#toc-single{
  position: fixed;
  width: 50px;
  min-height: 100%;
  background: #111;
  top:    0;
  bottom: 0;
  left:   0;
  overflow: auto;
  z-index: 999;
}
#toc-single a{
  font-size: 1.3em;
  line-height: 1em;
}
#toc-single > #toggle-toc{
  width: 100%;
  text-align: right;
  margin-bottom: 22px;
  color: #fff !important;
}
#toc-single .toc-list{
  width:   100%;
}
#toc-single .btn-menu{
  color:      #fff;
  background: #333;
  border-bottom: 2px solid #222;
  border-top: 1px solid #444;
  margin-bottom: 1px;
  text-align: left;
  padding: 18px;
}
#toc-single .btn-menu:hover,
#toc-single .btn-menu:active{
  background: #dedede;
  color:      #333;
}
#toc-single .toc-h1{
  text-transform: uppercase;
}
#toc-single.visible{
  position: static;
}
#content-peek{
  position: fixed;
  top:    0;
  right:  0;
  bottom: 0;
}
@media (min-width: 1024px) { 
  #toc-single{
    opacity: .25;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition:    opacity .25s ease-in-out;
    -ms-transition:     opacity .25s ease-in-out;
    -o-transition:      opacity .25s ease-in-out;
    transition:         opacity .25s ease-in-out;
  }
  #toc-single:hover{
    opacity: 1;
  }
  #toc-single > #toggle-toc{
    display: none !important;
  }
  #toc-single{
    background: #fff;
    width: 380px !important;
  }
  #toc-single .toc-list{
    display: block !important;
  }
  #toc-single a.btn-menu{
    background: #fff;
    color: #333;
    border: 0px;
    border-top: 1px dotted #ededed;
    padding-left: 32px;
  }
  body#single{
    padding-left: 380px;
  }
}



/*
 * TABLE OF CONTENTS -- PAGINATED
 */
#toc-paginated .toc-list{
  width:   100%;
}
#toc-paginated .btn-menu{
  font-size: 1em;
  color:      #666;
  background: #ededed;
  border-bottom: 2px solid #dedede;
  border-top: 1px solid #fff;
  margin-bottom: 1px;
  text-align: left;
  padding: .5em;
}
#toc-paginated .btn-menu:hover,
#toc-paginated .btn-menu:active{
  background: #333;
  color:      #fff;
}
#toc-paginated ol{
  margin:  0;
  padding: 0;
}
#toc-paginated li{
  margin-left:  24px;
  padding-left: 6px;
  font-size: 1.1em;
}
#paginated #toc-overview .toc-h2{
  display: none;
}




/*
 * ==== PAGINATION BUTTONS ====
 */
.chapter-pagination{
  border-top: 1px solid #eee;
  width: 100%;
  padding: 26px 0;
  margin: 26px 0;
  text-align: center;
}



/*
 * Barometer Feedback plugin fixes
 */
#barometer_tab{
  right: -5px !important;
  left: auto !important;
}
#barometer_overlay #barometer_main #overlay_header{
  height: 37px !important;
}
@media (max-width: 768px) { 
  #barometer_overlay{  display: none !important; }
  #barometer_tab{ display:none !important; }
}